Javier Nieto Merodio

# **Prediccion de Default en Prestamos**

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# **Descripcion**



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# **Objetivo**

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# **ETL**

In [1]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [2]:
try:
     pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true')
except:
    print ("Error")

Error

> Primer problema: tenemos un archivo de terminación .csv.gz. Quiere decir que primero tenemos que descromprimirlo. 

Usamos el argumento <code>comprenssion</code> para decirle que tenemos un archivo comprimido de tipo .gz

In [3]:
pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression='gzip')

/var/folders/t_/fh0l2j4n2rz0fskmrkd8ltvm0000gn/T/ipykernel_21807/1384986908.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression='gzip')

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

> Segundo problema: vemos que se carga de forma correcta, pero tiene dos índices.

Usamos el argumento de pd.read_csv llamado <code>index_col</code> para decirle que la primera columna es el índice.

In [4]:
# Al poner en 0 el index col, toma la primera columna

loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression='gzip', index_col = 0)

loans

/var/folders/t_/fh0l2j4n2rz0fskmrkd8ltvm0000gn/T/ipykernel_21807/3204416089.py:3: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression='gzip', index_col = 0)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,F4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

Listo, tenemos nuestros datos descargados correctamente.

## **Tabla (column_name, type)**

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

<code>dtypes</code> nos dice el tipo de dato que es cada columna. Esto nos ayuda a saber cómo recibimos los datos y si debemos cambiar algo. Por ejemplo, a veces las fechas vienen como tipo string, lo cual es problemático.

In [5]:
column_types = loans.dtypes
column_types

id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 150, dtype: object

In [6]:
column_name = column_types.index.values

In [7]:
column_name

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'fico_range_low',
       'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_flag',
       'hardship_type', 'hardship_reason', 'hardship_status',
       'deferral_term', 'hardship_amount', 'hardship_start_date',
       'hardship_end_date', 'payment_plan_start_date', 'hardship_length',
       'hardship_dpd', 'hardship_loan_status',
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status',
       'settlement_date', 'settlement_amount', 'settlement_percentage',
       'settlement_term'], dtype=object)

In [8]:
ctype = column_types.values

In [9]:
ctype

array([dtype('int64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('O'),
       dtype('O'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64')], dtype=object)

Finalmente, construir la tabla

In [10]:
tabla_tipos_aux = pd.DataFrame({'column_name': column_name, 'type': ctype})

In [11]:
tabla_tipos_aux

               column_name     type
0                       id    int64
1                member_id  float64
2                loan_amnt  float64
3              funded_amnt  float64
4          funded_amnt_inv  float64
..                     ...      ...
145      settlement_status   object
146        settlement_date   object
147      settlement_amount  float64
148  settlement_percentage  float64
149        settlement_term  float64

[150 rows x 2 columns]

## **Cargar descripcion de columnas**

La siguiente tabla tiene una descripcion del significado de cada columna

In [12]:
datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [13]:
datos_dict.columns = ['column_name', 'description']

In [14]:
datos_dict

               column_name                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [157]:
# COdigo guardar

loans.to_pickle('loans.pickle')

In [158]:
# Codigo para cargar

aux_loans= pd.read_pickle('loans.pickle')

In [159]:
aux_loans

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,inq_last_6ths
0,38098114,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,MANAGEMENT,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
1,36805548,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,Truck Driver Delivery Personel,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
2,37842129,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,D1,Programming Analysis Supervisor,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
3,37612354,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,Senior Sales Professional,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
4,37662224,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,Technical Specialist,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,B1,Software Engineer,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
99996,11396920,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,C1,Assistant Professor of English,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
99997,8556176,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,E4,Facilities Tech 3,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
99998,24023408,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,F4,Records Examiner Analyst,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0
99999,24023398,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,B2,Occupational Theapy Assistant,...,NaN,Cash,False,NaT,NaN,NaT,NaN,NaN,NaN,0

## **Tipos de Datos**

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

### **Análisis de columnas**

Hay que juntar las descripciones con los tipos de dato para analizarlos más fácil.

In [17]:
merge_tipos_aux = pd.merge(tabla_tipos_aux, datos_dict, on='column_name')

In [18]:
merge_tipos_aux

,column_name,type,description
0,id,int64,A unique LC assigned ID for the loan listing.
1,member_id,float64,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,The listed amount of the loan applied for by t...
3,funded_amnt,float64,The total amount committed to that loan at tha...
4,funded_amnt_inv,float64,The total amount committed by investors for th...
...,...,...,...
131,settlement_status,object,The status of the borrower’s settlement plan. ...
132,settlement_date,object,The date that the borrower agrees to the settl...
133,settlement_amount,float64,The loan amount that the borrower has agreed t...
134,settlement_percentage,float64,The settlement amount as a percentage of the p...
135,settlement_term,float64,The number of months that the borrower will be...

Hay 14 columnas del dataframe que no pasaron el filtro. Veamos cuales fueron

In [19]:
main_list = list(set(tabla_tipos_aux.column_name.values) - set(merge_tipos_aux.column_name.values))

In [20]:
# Columnas que no aparecieron

main_list

['sec_app_fico_range_high',
 'total_rev_hi_lim',
 'sec_app_collections_12_mths_ex_med',
 'revol_bal_joint',
 'sec_app_mort_acc',
 'sec_app_inq_last_6mths',
 'sec_app_revol_util',
 'sec_app_earliest_cr_line',
 'verification_status_joint',
 'sec_app_open_acc',
 'sec_app_fico_range_low',
 'sec_app_num_rev_accts',
 'sec_app_mths_since_last_major_derog',
 'sec_app_chargeoff_within_12_mths']

In [21]:
difs_datosdict = list(set(datos_dict.column_name.values) - set(merge_tipos_aux.column_name.values))

In [22]:
difs_datosdict

['sec_app_inq_last_6mths ',
 'revol_bal_joint ',
 'verified_status_joint',
 nan,
 'sec_app_collections_12_mths_ex_med ',
 'total_rev_hi_lim \xa0',
 'sec_app_fico_range_high ',
 'sec_app_earliest_cr_line ',
 'sec_app_mort_acc ',
 'sec_app_chargeoff_within_12_mths ',
 'url',
 'sec_app_mths_since_last_major_derog ',
 'sec_app_num_rev_accts ',
 'sec_app_revol_util ',
 'sec_app_fico_range_low ',
 'sec_app_open_acc ']

Podemos ver que hubo un problema con un espacio al final de las oraciones. Uso em método rstrip para quitar espacios sobrantes al final.

In [23]:
# Correccion

datos_dict['column_name'] = datos_dict['column_name'].str.rstrip()

Intentamos de nuevo el merge

In [24]:
tipos_descrip = pd.merge(tabla_tipos_aux, datos_dict, on='column_name')

In [25]:
tipos_descrip

,column_name,type,description
0,id,int64,A unique LC assigned ID for the loan listing.
1,member_id,float64,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,The listed amount of the loan applied for by t...
3,funded_amnt,float64,The total amount committed to that loan at tha...
4,funded_amnt_inv,float64,The total amount committed by investors for th...
...,...,...,...
144,settlement_status,object,The status of the borrower’s settlement plan. ...
145,settlement_date,object,The date that the borrower agrees to the settl...
146,settlement_amount,float64,The loan amount that the borrower has agreed t...
147,settlement_percentage,float64,The settlement amount as a percentage of the p...
148,settlement_term,float64,The number of months that the borrower will be...

Vemos cuales faltaron de incluir

In [26]:
dif = list(set(tabla_tipos_aux.column_name.values) - set(tipos_descrip.column_name.values))

In [27]:
dif

['verification_status_joint']

In [28]:
dif2 = list(set(datos_dict.column_name.values) - set(tabla_tipos_aux.column_name.values))

In [29]:
dif2

['verified_status_joint', nan, 'url']

Falta verified_status_joint, que se puso nombre distinto. Veamos cual tiene en la tabla

In [30]:
dif3 = list(set(loans.columns) - set(tipos_descrip.column_name.values))

In [31]:
dif3

['verification_status_joint']

Ya solo nos faltaría cambiar el nombre a verification status joint.

In [32]:
datos_dict['column_name'] = datos_dict['column_name'].replace(['verified_status_joint'], 'verification_status_joint')

In [33]:
types_description = pd.merge(tabla_tipos_aux, datos_dict, on='column_name')

In [34]:
types_description

,column_name,type,description
0,id,int64,A unique LC assigned ID for the loan listing.
1,member_id,float64,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,The listed amount of the loan applied for by t...
3,funded_amnt,float64,The total amount committed to that loan at tha...
4,funded_amnt_inv,float64,The total amount committed by investors for th...
...,...,...,...
145,settlement_status,object,The status of the borrower’s settlement plan. ...
146,settlement_date,object,The date that the borrower agrees to the settl...
147,settlement_amount,float64,The loan amount that the borrower has agreed t...
148,settlement_percentage,float64,The settlement amount as a percentage of the p...
149,settlement_term,float64,The number of months that the borrower will be...

Listo, ahora a revisar los tipos de dato y ver cuáles deben cambiarse de tipo.

#### Primer chunk

In [35]:
# Primer chunk de 20

types_description.loc[0:20]

,column_name,type,description
0,id,int64,A unique LC assigned ID for the loan listing.
1,member_id,float64,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,The listed amount of the loan applied for by t...
3,funded_amnt,float64,The total amount committed to that loan at tha...
4,funded_amnt_inv,float64,The total amount committed by investors for th...
5,term,object,The number of payments on the loan. Values are...
6,int_rate,float64,Interest Rate on the loan
7,installment,float64,The monthly payment owed by the borrower if th...
8,grade,object,LC assigned loan grade
9,sub_grade,object,LC assigned loan subgrade
10,emp_title,object,The job title supplied by the Borrower when ap...
11,emp_length,object,Employment length in years. Possible values ar...
12,home_ownership,object,The home ownership status provided by the borr...
13,annual_inc,float64,The self-reported annual income provided by th...
14,verification_status,object,"Indicates if income was verified by LC, not ve..."
15,issue_d,object,The month which the loan was funded
16,loan_status,object,Current status of the loan
17,pymnt_plan,object,Indicates if a payment plan has been put in pl...
18,desc,object,Loan description provided by the borrower
19,purpose,object,A category provided by the borrower for the lo...
20,title,object,The loan title provided by the borrower

In [36]:
loans.id.head().values

array([38098114, 36805548, 37842129, 37612354, 37662224])

In [37]:
loans.member_id.values

array([nan, nan, nan, ..., nan, nan, nan])

In [38]:
loans.term.unique()

array([' 60 months', ' 36 months'], dtype=object)

In [39]:
loans.grade.values

array(['C', 'A', 'D', ..., 'E', 'F', 'B'], dtype=object)

In [40]:
loans.emp_length.values

array(['10+ years', '8 years', '6 years', ..., '10+ years', '10+ years',
       '3 years'], dtype=object)

In [41]:
loans.verification_status.unique()

array(['Source Verified', 'Not Verified', 'Verified'], dtype=object)

No lo puedo hacer booleano

Cambios al primer chunk 
 - los ID no son float, son int.

#### Segundo chunk

In [42]:
# Segundo

types_description.loc[20:40]

,column_name,type,description
20,title,object,The loan title provided by the borrower
21,zip_code,object,The first 3 numbers of the zip code provided b...
22,addr_state,object,The state provided by the borrower in the loan...
23,dti,float64,A ratio calculated using the borrower’s total ...
24,delinq_2yrs,float64,The number of 30+ days past-due incidences of ...
25,earliest_cr_line,object,The month the borrower's earliest reported cre...
26,fico_range_low,float64,The lower boundary range the borrower’s FICO a...
27,fico_range_high,float64,The upper boundary range the borrower’s FICO a...
28,inq_last_6mths,float64,The number of inquiries in past 6 months (excl...
29,mths_since_last_delinq,float64,The number of months since the borrower's last...
30,mths_since_last_record,float64,The number of months since the last public rec...
31,open_acc,float64,The number of open credit lines in the borrowe...
32,pub_rec,float64,Number of derogatory public records
33,revol_bal,float64,Total credit revolving balance
34,revol_util,float64,"Revolving line utilization rate, or the amount..."
35,total_acc,float64,The total number of credit lines currently in ...
36,initial_list_status,object,The initial listing status of the loan. Possib...
37,out_prncp,float64,Remaining outstanding principal for total amou...
38,out_prncp_inv,float64,Remaining outstanding principal for portion of...
39,total_pymnt,float64,Payments received to date for total amount funded
40,total_pymnt_inv,float64,Payments received to date for portion of total...

In [43]:
loans.zip_code.values

array(['235xx', '937xx', '658xx', ..., '926xx', '630xx', '468xx'],
      dtype=object)

In [44]:
loans.delinq_2yrs.unique()

array([ 0.,  1.,  3.,  2.,  4.,  6.,  5., 11., 13.,  9., 12.,  8.,  7.,
       10., 21., 14., 22., 15., 19., 16., 17., 18.])

In [45]:
loans.inq_last_6mths.unique()

array([0., 2., 1., 3., 4., 5., 6.])

In [46]:
loans.mths_since_last_delinq.unique()

array([ nan,  42.,  60.,  17.,  55.,  12.,   1.,  48.,  46.,  26.,   9.,
        77.,   5.,  59.,  57.,  35.,  49.,  40.,  30.,  63.,  19.,  28.,
        41.,  33.,  25.,  11.,  18.,  31.,  27.,   6.,  36.,   8.,  14.,
         4.,  68.,  29.,  24.,  66.,  39.,   2.,  45.,  78.,  20.,  54.,
        56.,  16.,  74.,  70.,  38.,  13.,  10.,  15.,  64.,  62.,  37.,
        23.,  79.,  44.,   3.,  82.,  21.,  43.,  58.,  47.,  34.,  72.,
        65.,  22.,  50.,  51.,  71.,  69.,  61.,   7.,  32.,  76.,  81.,
        52.,  53.,  67.,  80.,  75.,  73.,  84.,   0.,  85.,  90.,  83.,
        99., 133.,  96.,  87.,  89.,  86., 104.,  91.,  98.,  93., 111.,
        94., 102.,  92.,  88., 107.,  97.,  95., 135., 141., 101.])

In [47]:
loans.mths_since_last_record.unique()

array([ nan,  95.,  69.,  82.,  96.,  70.,  47.,  54., 111.,  46.,  63.,
       110.,  72.,  66.,  48.,  50.,  41.,  68.,  17.,  77.,  64., 117.,
       115.,  75.,   9.,  43.,  35., 112., 108.,  81.,  80.,  67.,  79.,
        57.,  38.,  74.,  14.,  44.,  76.,  52.,  42.,  56., 114.,  86.,
        97.,  32.,  73.,  55.,  62.,  85.,   6.,  53.,  88.,  34.,  21.,
        59.,  65.,  58.,  71.,  13.,  61.,  31., 120., 101.,  36.,  92.,
        83.,  30., 100.,  49., 118.,  93.,  60.,  87., 116.,  27.,  24.,
        20.,  91.,  78.,  99., 113.,  39.,  51.,   5.,  45.,  90.,  26.,
        22., 102.,  29.,   7.,  40.,  98., 119.,  16.,  37.,  28.,  18.,
        84.,  15., 105.,  10.,  33.,  23.,  11.,  89.,   4., 103.,  94.,
       109.,  12.,   3.,   8., 106., 107.,  25.,   0.,   1., 104.,  19.,
         2.])

In [48]:
loans.open_acc.unique()

array([ 6., 17., 10.,  8., 11., 12.,  9.,  7., 14.,  5.,  3., 13., 19.,
       15., 25.,  4., 24., 20., 18., 22., 27., 21., 31., 32., 28., 16.,
       26.,  2., 29., 23., 37., 33., 30., 43., 45., 35., 34., 44., 36.,
       38., 54., 39., 41., 53.,  1., 40., 42., 47., 76., 48., 58., 50.,
       52., 55., 84., 75., 46., 51.])

In [49]:
loans.total_acc.unique()

array([ 17.,  36.,  35.,  13.,  20.,  44.,  32.,  14.,  23.,  10.,  19.,
        31.,  21.,  48.,  18.,  22.,   8.,  29.,  25.,  30.,  39.,  12.,
        77.,  24.,  49.,  15.,   9.,   6.,  58.,  11.,  27.,  26.,  50.,
        51.,  45.,  59.,  37.,  16.,  41.,  28.,  40.,  46.,  42.,  34.,
        57.,  78.,   7.,   4.,  61.,  43.,  52.,   5.,  33.,  38.,  53.,
        47.,  62.,  67.,  56.,  86.,  55.,  70.,  54.,  66.,  73.,  65.,
        68.,  60.,  64.,  63.,  93.,  92.,  69.,  82.,  76.,  71.,  96.,
        87.,  75., 101., 150.,  84.,  74.,  95.,  79.,  81.,  88.,  72.,
        80.,  91.,  85., 105.,  83.,  89., 156., 106.,  98.,  97., 119.,
        90.,   3., 124., 100.,  99.,  94., 121., 102., 117.])

Cambios al segundo chunk 
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
 - Deberían ser unidades no particionables
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito

#### Tercer chunk

In [50]:
# Tercero

types_description.loc[40:60]

,column_name,type,description
40,total_pymnt_inv,float64,Payments received to date for portion of total...
41,total_rec_prncp,float64,Principal received to date
42,total_rec_int,float64,Interest received to date
43,total_rec_late_fee,float64,Late fees received to date
44,recoveries,float64,post charge off gross recovery
45,collection_recovery_fee,float64,post charge off collection fee
46,last_pymnt_d,object,Last month payment was received
47,last_pymnt_amnt,float64,Last total payment amount received
48,next_pymnt_d,object,Next scheduled payment date
49,last_credit_pull_d,object,The most recent month LC pulled credit for thi...
50,last_fico_range_high,float64,The upper boundary range the borrower’s last F...
51,last_fico_range_low,float64,The lower boundary range the borrower’s last F...
52,collections_12_mths_ex_med,float64,Number of collections in 12 months excluding m...
53,mths_since_last_major_derog,float64,Months since most recent 90-day or worse rating
54,policy_code,float64,publicly available policy_code=1\nnew products...
55,application_type,object,Indicates whether the loan is an individual ap...
56,annual_inc_joint,float64,The combined self-reported annual income provi...
57,dti_joint,float64,A ratio calculated using the co-borrowers' tot...
58,verification_status_joint,float64,Indicates if the co-borrowers' joint income wa...
59,acc_now_delinq,float64,The number of accounts on which the borrower i...
60,tot_coll_amt,float64,Total collection amounts ever owed

In [51]:
loans.next_pymnt_d.unique()

array([nan, 'Jan-2018', 'Feb-2018', 'Dec-2017'], dtype=object)

In [52]:
loans.next_pymnt_d.dtype

dtype('O')

In [53]:
loans.collections_12_mths_ex_med.unique()

array([ 0.,  1.,  2.,  3.,  4.,  6., 16., 20.])

In [54]:
loans.policy_code.unique()

array([1.])

Columna bastante inservible para ser tantas observaciones siempre el mismo valor (aclarado en la descripción).

No es propiamente una fecha, no puedo transformarla. Es mejor dejarla en string.

Cambios al tercer chunk 
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
 - Deberían ser unidades no particionables
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - Cambios al segundo chunk 
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
    - mths_since_last_major_derog
 - Deberían ser unidades no particionables. Además, solo tienen ints (y NaNs en sus columnas)
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - collections_12_mths_ex_med: número de colecciones
 - Para los booleanos, mejor dejarlo en la opción doble de strings; podría confundir si no.

#### Cuarto chunk

In [55]:
# Cuarto

types_description.loc[60:80]

,column_name,type,description
60,tot_coll_amt,float64,Total collection amounts ever owed
61,tot_cur_bal,float64,Total current balance of all accounts
62,open_acc_6m,float64,Number of open trades in last 6 months
63,open_act_il,float64,Number of currently active installment trades
64,open_il_12m,float64,Number of installment accounts opened in past ...
65,open_il_24m,float64,Number of installment accounts opened in past ...
66,mths_since_rcnt_il,float64,Months since most recent installment accounts ...
67,total_bal_il,float64,Total current balance of all installment accounts
68,il_util,float64,Ratio of total current balance to high credit/...
69,open_rv_12m,float64,Number of revolving trades opened in past 12 m...
70,open_rv_24m,float64,Number of revolving trades opened in past 24 m...
71,max_bal_bc,float64,Maximum current balance owed on all revolving ...
72,all_util,float64,Balance to credit limit on all trades
73,total_rev_hi_lim,float64,Total revolving high credit/credit limit
74,inq_fi,float64,Number of personal finance inquiries
75,total_cu_tl,float64,Number of finance trades
76,inq_last_12m,float64,Number of credit inquiries in past 12 months
77,acc_open_past_24mths,float64,Number of trades opened in past 24 months.
78,avg_cur_bal,float64,Average current balance of all accounts
79,bc_open_to_buy,float64,Total open to buy on revolving bankcards.
80,bc_util,float64,Ratio of total current balance to high credit/...

In [56]:
loans.open_acc_6m.unique()

array([nan])

In [57]:
loans.open_act_il.unique()

array([nan])

In [58]:
loans.open_il_12m.unique()

array([nan])

In [59]:
loans.open_il_24m.unique()

array([nan])

In [60]:
loans.mths_since_rcnt_il.unique()

array([nan])

In [61]:
loans.mths_since_rcnt_il.unique()

array([nan])

In [62]:
loans.open_rv_12m.unique()

array([nan])

In [63]:
loans.open_rv_24m.unique()

array([nan])

In [64]:
loans.inq_fi.unique()

array([nan])

In [65]:
loans.total_cu_tl.unique()

array([nan])

In [66]:
loans.inq_last_12m.unique()

array([nan])

In [67]:
loans.acc_open_past_24mths.unique()

array([ 5.,  7.,  4.,  2.,  6.,  8.,  3.,  0., 10., 12.,  1.,  9., 11.,
       14., 16., 13., 15., 24., 19., 17., 25., 18., 20., 21., 27., 29.,
       26., 23., 22., 39., 31., 42., 53., 28., 30., 50.])

In [68]:
print(loans.bc_open_to_buy.unique())

[ 9525.  7599.   324. ... 28091. 13974. 17153.]

Cambios al cuarto chunk
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
 - Deberían ser unidades no particionables
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - Cambios al segundo chunk 
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - mths_since_last_delinq
    - mths_since_last_record
    - mths_since_last_major_derog
 - Deberían ser unidades no particionables. Además, solo tienen ints (y NaNs en sus columnas)
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - collections_12_mths_ex_med: número de colecciones
    - bc_open_to_buy: número de tarjetas
 - Para los booleanos, mejor dejarlo en la opción doble de strings; podría confundir si no.
 - Cambiar a int, aunque sean columnas llenas de Nan, deberían ser puros 0's, al ser el valor propio para expresar que no han habido casos. Es por eso que on vale borrar la columna. 
    - delinq_2yrs
    - inq_last_6ths
    - open_acc_6m
    - open_act_il
    - open_il_12m
    - open_il_24m
    - mths_since_rcnt_il
    - open_rv_12m
    - inq_last_12m
    - open_rv_24m
    - acc_open_past_24mths
 - Columnas llenas de NaNs que no hace sentido que no tengan valores. 
    - total_cu_tl: no hace sentido que no haya para ningún ID finance trades sin delimitación de periodos.
    - inq_fi: nunca nadie de las observaciones tuvo ninguna queja. Suena, para todas las observaciones, sin tener límite de periodo, un caso muy particular (o inexistente).

#### Quinto chunk

In [69]:
# Quinto

types_description.loc[80:100]

,column_name,type,description
80,bc_util,float64,Ratio of total current balance to high credit/...
81,chargeoff_within_12_mths,float64,Number of charge-offs within 12 months
82,delinq_amnt,float64,The past-due amount owed for the accounts on w...
83,mo_sin_old_il_acct,float64,Months since oldest bank installment account o...
84,mo_sin_old_rev_tl_op,float64,Months since oldest revolving account opened
85,mo_sin_rcnt_rev_tl_op,float64,Months since most recent revolving account opened
86,mo_sin_rcnt_tl,float64,Months since most recent account opened
87,mort_acc,float64,Number of mortgage accounts.
88,mths_since_recent_bc,float64,Months since most recent bankcard account opened.
89,mths_since_recent_bc_dlq,float64,Months since most recent bankcard delinquency
90,mths_since_recent_inq,float64,Months since most recent inquiry.
91,mths_since_recent_revol_delinq,float64,Months since most recent revolving delinquency.
92,num_accts_ever_120_pd,float64,Number of accounts ever 120 or more days past due
93,num_actv_bc_tl,float64,Number of currently active bankcard accounts
94,num_actv_rev_tl,float64,Number of currently active revolving trades
95,num_bc_sats,float64,Number of satisfactory bankcard accounts
96,num_bc_tl,float64,Number of bankcard accounts
97,num_il_tl,float64,Number of installment accounts
98,num_op_rev_tl,float64,Number of open revolving accounts
99,num_rev_accts,float64,Number of revolving accounts
100,num_rev_tl_bal_gt_0,float64,Number of revolving trades with balance >0

In [70]:
loans.chargeoff_within_12_mths.unique()

array([0., 1., 2., 3., 4.])

In [71]:
loans.mort_acc.unique()

array([ 0.,  1.,  5.,  2.,  6.,  3.,  4.,  8., 10.,  9.,  7., 20., 14.,
       11., 13., 12., 18., 26., 15., 16., 21., 22., 36., 17., 23., 19.,
       34., 25.])

In [72]:
loans.mths_since_recent_bc

0        47.0
1         5.0
2         7.0
3        21.0
4        17.0
         ...
99995     5.0
99996     5.0
99997    12.0
99998     7.0
99999     8.0
Name: mths_since_recent_bc, Length: 100000, dtype: float64

In [73]:
loans.mths_since_recent_bc_dlq.unique()

array([ nan,  42.,  60.,  17.,  33.,  46.,  26.,  12.,  77.,   9.,  57.,
        49.,   1.,  69.,  63.,  35.,  28.,  38.,  29.,  65.,   6.,  47.,
        36.,  15.,  43.,   7.,  68.,  24.,  39.,  66.,  56.,  31.,  54.,
        45.,  34.,  20.,   8.,  79.,  70.,  13.,  40.,  48.,  37.,  53.,
         3.,  27.,  64.,  21.,  51.,  73.,  44.,  25.,  10.,  22.,  30.,
        55.,  72.,  67.,  75.,  58.,  71.,  23.,  62.,   2.,  41.,  14.,
        50.,  78.,  74.,  32.,  59.,   4.,  81.,  16.,  19.,  83.,  52.,
        76.,  80., 108.,  18.,   5.,  84.,  61.,  82.,  11.,   0.,  85.,
        90.,  89.,  99., 145., 113.,  96.,  98.,  86., 115.,  87.,  91.,
       104., 114., 103., 124.,  92.,  88.,  93., 122., 105., 111., 110.,
        94., 106., 112., 107.,  97.,  95., 135., 101., 154.])

In [74]:
loans.mo_sin_old_il_acct.unique()

array([103.,  76., 135.,  16., 137., 183., 158., 121., 132.,  33., 191.,
        93., 160., 129.,  27., 234., 136.,  55.,  89.,  79., 131., 108.,
        nan,  39.,  92., 141., 181.,  44., 170., 122., 125.,  96., 219.,
        88., 164., 228., 171.,  36.,   4., 118.,  86.,  81., 128., 154.,
       120., 142., 133., 147.,  50.,   7.,  51., 152., 115., 161., 167.,
       139., 116., 123., 124., 166., 312., 224., 178., 100., 176., 150.,
        26.,  73., 127., 148.,  94., 159., 301.,  58., 151., 162., 278.,
       153., 105., 256., 140.,  99., 180., 104.,  53., 149.,  43.,  87.,
       130., 156.,  66., 194., 138., 174.,  68., 169.,  57., 172.,  98.,
        91., 102.,  24.,  21., 207.,   6., 101.,  19., 244.,  84., 126.,
       165., 268.,  74., 119.,  28., 145., 216., 106., 238., 179., 253.,
        60.,  82.,  46.,  65.,   1., 286., 143., 157., 241., 168., 146.,
       134., 265., 117.,  77., 175., 144., 205., 300.,  64.,  23.,  78.,
       111., 112.,  95., 110., 188.,  47.,  32., 279., 215.,  42., 218.,
       259.,  63., 163.,  15.,  52.,  97.,  85.,  34.,  80., 252.,  62.,
        38., 257., 408.,  72., 214.,   8., 177.,   9.,  40., 193., 109.,
       113., 184.,  90., 189., 255., 277., 231., 261.,  18., 213., 195.,
       232.,  56.,  29.,  41., 206., 173., 114., 107., 192., 212., 226.,
        75.,  70.,  20.,  12., 155., 254.,  25.,  67., 197.,  45.,  48.,
       186., 182.,  31., 263., 196., 223., 185., 208.,  35.,  49.,  59.,
       326., 230.,  30.,  17., 203.,  54., 250., 338.,   5.,  14., 227.,
        83., 211.,  61.,   3., 200.,  71., 483., 247., 198.,   2., 275.,
       299.,  13., 249., 292.,  37., 217.,  11., 201., 280., 242., 202.,
       220., 251., 285., 239., 235., 229., 190., 222., 310., 375., 384.,
        69., 409., 274., 221., 290., 304., 347., 327., 309., 320.,  22.,
       209., 335., 187., 243., 236., 233., 237., 240., 204., 317., 281.,
       307., 199., 246., 258., 266., 225., 305., 315., 333., 283., 262.,
        10., 272., 294., 387., 245., 293., 248., 264., 291., 270., 336.,
       298., 323., 316., 267., 322., 210., 363., 282., 356., 288., 346.,
       276., 273., 314., 399., 319., 321., 313., 486., 260., 287., 271.,
       325., 404., 358., 349., 351., 446., 339., 308., 332., 386., 378.,
       303., 324., 334., 302., 284., 371., 391., 362., 331., 295., 422.,
       269., 402., 381., 289., 383., 348., 357., 411., 385., 372., 376.,
       423., 370., 311., 329., 341., 377., 318., 392., 296., 401., 374.,
       432., 330., 306., 337., 410., 398., 350., 345., 328., 343., 418.,
       342., 466., 458., 354., 297., 490., 368., 420., 417., 359., 403.,
       373., 382., 369., 394., 352., 367., 355., 360., 424., 433., 365.,
       421., 344., 415., 405., 436., 361., 449., 364., 380., 366., 406.,
       428., 561., 340., 353.,   0., 395., 429., 379., 414., 482.])

In [75]:
loans.mths_since_recent_inq.unique()

array([nan,  1.,  7.,  3., 17.,  2., 16., 10., 14.,  6.,  5., 18.,  4.,
       13.,  0., 15., 22., 12.,  9., 19.,  8., 11., 23., 20., 21., 24.,
       25.])

In [76]:
loans.num_accts_ever_120_pd.unique()

array([ 0.,  4.,  1.,  2.,  3.,  6.,  8.,  5.,  9.,  7., 10., 11., 13.,
       19., 18., 12., 14., 23., 15., 21., 22., 17., 16., 33., 20.])

In [77]:
loans.num_actv_bc_tl.unique()

array([ 1.,  6.,  3.,  4.,  2.,  5.,  0.,  9.,  8.,  7., 10., 12., 15.,
       13., 17., 11., 16., 14., 18., 24., 19., 26., 20., 21., 22.])

In [78]:
loans.num_actv_rev_tl.unique()

array([ 4.,  9.,  5.,  7.,  3.,  2.,  8.,  6.,  1., 11., 14., 10., 17.,
       15., 13., 16., 12., 21.,  0., 22., 20., 25., 18., 19., 34., 23.,
       24., 29., 30., 27., 26., 28., 32., 37., 36., 38.])

In [79]:
loans.num_bc_sats.unique()

array([ 1.,  7.,  3.,  5.,  4.,  6.,  2., 10.,  8.,  0., 11.,  9., 13.,
       14., 12., 15., 16., 17., 19., 18., 23., 21., 20., 24., 25., 26.,
       29., 22., 27., 28., 32., 35., 30., 31.])

In [80]:
loans.num_bc_tl.unique()

array([ 2., 18., 12.,  5.,  4., 16.,  6.,  9.,  7., 10.,  1.,  3.,  8.,
       15., 20., 21., 14., 11., 19., 17., 13., 23., 22., 24., 29.,  0.,
       27., 28., 25., 26., 30., 38., 36., 33., 37., 31., 32., 34., 50.,
       39., 42., 40., 45., 35., 41., 43., 47., 51., 48., 46., 58.])

In [81]:
loans.num_il_tl.unique()

array([  8.,   2.,  16.,   1.,  12.,  17.,   4.,   3.,   6.,   7.,  25.,
         5.,  14.,  15.,   0.,  18.,  13.,  59.,  27.,  21.,  10.,  28.,
        37.,  26.,   9.,  29.,  23.,  11.,  30.,  19.,  24.,  22.,  44.,
        32.,  35.,  38.,  43.,  20.,  41.,  46.,  40.,  34.,  31.,  45.,
        33.,  50.,  64.,  39.,  42.,  55.,  56.,  48.,  36.,  49.,  63.,
        86.,  52.,  72.,  57.,  47.,  51.,  53.,  58.,  60.,  62.,  61.,
        54.,  65., 150.,  73.,  69.,  67.,  74.,  68.,  70.,  75.,  78.,
        66.,  76.,  71.,  83.,  87.,  97.])

In [82]:
loans.num_op_rev_tl.unique()

array([ 5., 14.,  4.,  8., 10.,  6.,  9.,  2.,  7., 11., 12.,  3.,  1.,
       17., 19., 20., 18., 13., 23., 15., 22., 16., 21., 27., 25., 26.,
       24., 34.,  0., 33., 44., 31., 28., 32., 30., 43., 29., 37., 36.,
       47., 62., 39., 38., 40., 46., 50., 35., 52., 56., 51., 42., 48.,
       41.])

In [83]:
loans.num_rev_accts.unique()

array([  9.,  32.,  18.,   7.,   8.,  26.,  10.,  13.,  25.,  11.,  17.,
        12.,  15.,   3.,   6.,  16.,  23.,  31.,  20.,   4.,   2.,  34.,
         5.,  21.,  14.,  45.,  38.,  28.,  30.,  24.,  40.,  19.,  27.,
        39.,  22.,  33.,  29.,  41.,  36.,  37.,  42.,  35.,  44.,  47.,
        52.,  46.,  43.,  48.,  56.,  51.,  49.,  50.,  54.,  69.,  64.,
        59.,  53.,  57., 105.,  58.,  75.,  61.,  55.,  68.,  67.,  60.,
        65.,  81.,  66.,  62.,  70.,  73.,  71.,  80.,  78.,  89.,  63.,
        77.,  74.,  86.])

In [84]:
loans.num_rev_tl_bal_gt_0.unique()

array([ 4.,  9.,  5.,  7.,  3.,  2.,  8.,  6.,  1., 11., 14., 10., 17.,
       15., 13., 16., 12.,  0., 22., 20., 25., 18., 19., 34., 23., 24.,
       21., 29., 30., 27., 26., 28., 32., 37., 38.])

Cambios al quinto chunk
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
 - Deberían ser unidades no particionables
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - Cambios al segundo chunk 
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - mths_since_last_delinq
    - mths_since_last_record
    - mths_since_last_major_derog
    - mo_sin_old_il_acct
    - mo_sin_old_rev_tl_op
    - mo_sin_rcnt_rev_tl_op
    - mo_sin_rcnt_tl
    - mths_since_recent_bc
    - mths_since_rcnt_il
    - mths_since_recent_bc_dlq
    - mths_since_recent_inq
 - Deberían ser unidades no particionables. Además, solo tienen ints (y NaNs en sus columnas)
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - collections_12_mths_ex_med: número de colecciones
    - bc_open_to_buy: número de tarjetas
    - chargeoff_within_12_mths: número de cargos
    - num_accts_ever_120_pd: número de cuentas
    - num_actv_bc_tl: cuentas
    - num_actv_rev_tl: número de cuentas
    - num_bc_sats: cuentas de banco
    - num_bc_tl: número de cuentas
    - num_il_tl: número de cuentas instaladas
    - num_op_rev_tl: número de cuentas
    - num_rev_accts: número de cuentas
    - num_rev_tl_bal_gt_0: número de cuentas
 - Para los booleanos, mejor dejarlo en la opción doble de strings; podría confundir si no.
 - Cambiar a int, aunque sean columnas llenas de Nan, deberían ser puros 0's, al ser el valor propio para expresar que no han habido casos. Es por eso que on vale borrar la columna. 
    - delinq_2yrs
    - inq_last_6ths
    - open_acc_6m
    - open_act_il
    - open_il_12m
    - open_il_24m
    - open_rv_12m
    - inq_last_12m
    - open_rv_24m
    - acc_open_past_24mths
    - mo_sin_rcnt_tl: número de cuentas
 - Columnas llenas de NaNs que no hace sentido que no tengan valores (pero deben ser ints).
    - total_cu_tl: no hace sentido que no haya para ningún ID finance trades sin delimitación de periodos. 
    - inq_fi: nunca nadie de las observaciones tuvo ninguna queja. Suena, para todas las observaciones, sin tener límite de periodo, un caso muy particular (o inexistente). Además, columnas como mths_since_recent_inq indican que hubieron inquiries antes.

#### Sexto chunk

In [85]:
# Sexto

types_description.loc[100:120]

,column_name,type,description
100,num_rev_tl_bal_gt_0,float64,Number of revolving trades with balance >0
101,num_sats,float64,Number of satisfactory accounts
102,num_tl_120dpd_2m,float64,Number of accounts currently 120 days past due...
103,num_tl_30dpd,float64,Number of accounts currently 30 days past due ...
104,num_tl_90g_dpd_24m,float64,Number of accounts 90 or more days past due in...
105,num_tl_op_past_12m,float64,Number of accounts opened in past 12 months
106,pct_tl_nvr_dlq,float64,Percent of trades never delinquent
107,percent_bc_gt_75,float64,Percentage of all bankcard accounts > 75% of l...
108,pub_rec_bankruptcies,float64,Number of public record bankruptcies
109,tax_liens,float64,Number of tax liens
110,tot_hi_cred_lim,float64,Total high credit/credit limit
111,total_bal_ex_mort,float64,Total credit balance excluding mortgage
112,total_bc_limit,float64,Total bankcard high credit/credit limit
113,total_il_high_credit_limit,float64,Total installment high credit/credit limit
114,revol_bal_joint,float64,Sum of revolving credit balance of the co-bor...
115,sec_app_fico_range_low,float64,FICO range (high) for the secondary applicant
116,sec_app_fico_range_high,float64,FICO range (low) for the secondary applicant
117,sec_app_earliest_cr_line,float64,Earliest credit line at time of application f...
118,sec_app_inq_last_6mths,float64,Credit inquiries in the last 6 months at time...
119,sec_app_mort_acc,float64,Number of mortgage accounts at time of applic...
120,sec_app_open_acc,float64,Number of open trades at time of application ...

In [86]:
loans.num_rev_tl_bal_gt_0.unique()

array([ 4.,  9.,  5.,  7.,  3.,  2.,  8.,  6.,  1., 11., 14., 10., 17.,
       15., 13., 16., 12.,  0., 22., 20., 25., 18., 19., 34., 23., 24.,
       21., 29., 30., 27., 26., 28., 32., 37., 38.])

In [87]:
loans.num_sats.unique()

array([ 6., 17., 10.,  8., 11., 12.,  9.,  7., 14.,  5.,  3., 13., 19.,
       15., 25.,  4., 24., 20., 18., 22., 27., 21., 31., 32., 28., 16.,
       30., 26.,  2., 29., 23., 37., 33., 43., 45., 35., 34., 44., 36.,
       38., 54., 39., 41., 53.,  1., 42., 40., 47., 75., 48., 58., 50.,
       52., 55., 84., 46., 51.])

In [88]:
loans.num_tl_120dpd_2m.unique()

array([ 0., nan,  1.,  2.])

In [89]:
loans.num_tl_30dpd.unique()

array([0., 1., 2., 3., 4.])

In [90]:
loans.num_tl_90g_dpd_24m.unique()

array([ 0.,  1.,  4.,  2.,  3.,  6.,  9.,  5.,  7., 10., 20., 11., 22.,
        8., 13., 14., 12., 16., 15., 18.])

In [91]:
loans.num_tl_op_past_12m.unique()

array([ 4.,  2.,  0.,  3.,  1.,  6.,  5.,  8.,  9.,  7., 12., 11., 10.,
       19., 14., 17., 13., 15., 20., 16., 26., 21., 23.])

In [92]:
loans.pub_rec_bankruptcies.unique()

array([ 0.,  1.,  2.,  7.,  3.,  4.,  5.,  6., 12.])

In [93]:
loans.tax_liens.unique()

array([ 0.,  1.,  4.,  2.,  5.,  3.,  6., 12., 17.,  7., 10.,  8., 18.,
       11., 16., 14.,  9.])

In [94]:
loans.sec_app_earliest_cr_line.unique()

array([nan])

In [95]:
loans.sec_app_inq_last_6mths.unique()

array([nan])

Cambios al sexto chunk
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
 - Deberían ser unidades no particionables
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - Cambios al segundo chunk 
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - mths_since_last_delinq
    - mths_since_last_record
    - mths_since_last_major_derog
    - mo_sin_old_il_acct
    - mo_sin_old_rev_tl_op
    - mo_sin_rcnt_rev_tl_op
    - mo_sin_rcnt_tl
    - mths_since_recent_bc
    - mths_since_rcnt_il
    - mths_since_recent_bc_dlq
    - mths_since_recent_inq
 - Deberían ser unidades no particionables. Además, solo tienen ints (y NaNs en sus columnas)
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - collections_12_mths_ex_med: número de colecciones
    - bc_open_to_buy: número de tarjetas
    - chargeoff_within_12_mths: número de cargos
    - num_accts_ever_120_pd: número de cuentas
    - num_actv_bc_tl: cuentas
    - num_actv_rev_tl: número de cuentas
    - num_bc_sats: cuentas de banco
    - num_bc_tl: número de cuentas
    - num_il_tl: número de cuentas instaladas
    - num_op_rev_tl: número de cuentas
    - num_rev_accts: número de cuentas
    - num_rev_tl_bal_gt_0: número de cuentas
    - num_sats: número de cuentas
    - num_tl_120dpd_2m: número de cuentas
    - num_tl_30dpd: número de cuentas
    - num_tl_90g_dpd_24m: número de cuentas
    - num_tl_op_past_12m: número de cuentas
    - pub_rec_bankruptcies: número de bancarrotas
    - tax_liens: número de tax liens	
 - Para los booleanos, mejor dejarlo en la opción doble de strings; podría confundir si no.
 - Cambiar a int, aunque sean columnas llenas de Nan, deberían ser puros 0's, al ser el valor propio para expresar que no han habido casos. Es por eso que on vale borrar la columna. No vale la pena tirarlas. En NaN están bien, pero hace sentido que pronto sean modificadas.
    - delinq_2yrs
    - inq_last_6ths
    - open_acc_6m
    - open_act_il
    - open_il_12m
    - open_il_24m
    - open_rv_12m
    - inq_last_12m
    - open_rv_24m
    - acc_open_past_24mths
    - mo_sin_rcnt_tl: número de cuentas
 - Columnas llenas de NaNs que no hace sentido que no tengan valores (pero deben ser ints).
    - total_cu_tl: no hace sentido que no haya para ningún ID finance trades sin delimitación de periodos. 
    - inq_fi: nunca nadie de las observaciones tuvo ninguna queja. Suena, para todas las observaciones, sin tener límite de periodo, un caso muy particular (o inexistente). Además, columnas como mths_since_recent_inq indican que hubieron inquiries antes.
    - Secondary aplicant: no hay datos de ningún seconary applicant por lo cual es un desperdicio de espacio tantas columnas para no tener una sola observación de dicho caso
      - sec_app_fico_range_low
      - sec_app_fico_range_high
      - sec_app_earliest_cr_line
      - sec_app_inq_last_6mths
      - sec_app_mort_acc
      - sec_app_open_acc

#### Séptimo chunk

In [96]:
# Septimo

types_description.loc[120:140]

,column_name,type,description
120,sec_app_open_acc,float64,Number of open trades at time of application ...
121,sec_app_revol_util,float64,Ratio of total current balance to high credit...
122,sec_app_open_act_il,float64,Number of currently active installment trades...
123,sec_app_num_rev_accts,float64,Number of revolving accounts at time of appli...
124,sec_app_chargeoff_within_12_mths,float64,Number of charge-offs within last 12 months a...
125,sec_app_collections_12_mths_ex_med,float64,Number of collections within last 12 months e...
126,sec_app_mths_since_last_major_derog,float64,Months since most recent 90-day or worse rati...
127,hardship_flag,object,Flags whether or not the borrower is on a hard...
128,hardship_type,object,Describes the hardship plan offering
129,hardship_reason,object,Describes the reason the hardship plan was off...
130,hardship_status,object,"Describes if the hardship plan is active, pend..."
131,deferral_term,float64,Amount of months that the borrower is expected...
132,hardship_amount,float64,The interest payment that the borrower has com...
133,hardship_start_date,object,The start date of the hardship plan period
134,hardship_end_date,object,The end date of the hardship plan period
135,payment_plan_start_date,object,The day the first hardship plan payment is due...
136,hardship_length,float64,The number of months the borrower will make sm...
137,hardship_dpd,float64,Account days past due as of the hardship plan ...
138,hardship_loan_status,object,Loan Status as of the hardship plan start date
139,orig_projected_additional_accrued_interest,float64,The original projected additional interest amo...
140,hardship_payoff_balance_amount,float64,The payoff balance amount as of the hardship p...

In [97]:
loans.sec_app_open_acc.unique()

array([nan])

In [98]:
loans.sec_app_revol_util.unique()

array([nan])

In [99]:
loans.sec_app_open_act_il.unique()

array([nan])

In [100]:
loans.sec_app_num_rev_accts.unique()

array([nan])

In [101]:
loans.sec_app_chargeoff_within_12_mths.unique()

array([nan])

In [102]:
loans.sec_app_collections_12_mths_ex_med.unique()

array([nan])

In [103]:
loans.sec_app_mths_since_last_major_derog.unique()

array([nan])

In [104]:
loans.hardship_flag.unique()

array(['N', 'Y'], dtype=object)

In [105]:
loans.deferral_term.unique()

array([nan,  3.])

In [106]:
loans.hardship_start_date.unique()

array([nan, 'May-2017', 'Sep-2017', 'Jun-2017', 'Aug-2017', 'Oct-2017',
       'Jul-2017', 'Nov-2017', 'Dec-2017', 'Feb-2017'], dtype=object)

In [107]:
loans.hardship_end_date.unique()

array([nan, 'Aug-2017', 'Nov-2017', 'Sep-2017', 'Jul-2017', 'Dec-2017',
       'Oct-2017', 'Jan-2018', 'Feb-2018', 'Jun-2017', 'Mar-2018',
       'Apr-2017'], dtype=object)

In [108]:
loans.payment_plan_start_date.unique()

array([nan, 'May-2017', 'Sep-2017', 'Jul-2017', 'Jun-2017', 'Aug-2017',
       'Oct-2017', 'Nov-2017', 'Dec-2017', 'Jan-2018', 'Feb-2017'],
      dtype=object)

In [109]:
loans.hardship_loan_status.unique()

array([nan, 'In Grace Period', 'Current', 'Late (16-30 days)',
       'Late (31-120 days)'], dtype=object)

Cambios al séptimo chunk
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
 - Deberían ser unidades no particionables
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - Cambios al segundo chunk 
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - mths_since_last_delinq
    - mths_since_last_record
    - mths_since_last_major_derog
    - mo_sin_old_il_acct
    - mo_sin_old_rev_tl_op
    - mo_sin_rcnt_rev_tl_op
    - mo_sin_rcnt_tl
    - mths_since_recent_bc
    - mths_since_rcnt_il
    - mths_since_recent_bc_dlq
    - mths_since_recent_inq
    - deferral_term
    - hardship_length
 - Deberían ser unidades no particionables. Además, solo tienen ints (y NaNs en sus columnas)
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - collections_12_mths_ex_med: número de colecciones
    - bc_open_to_buy: número de tarjetas
    - chargeoff_within_12_mths: número de cargos
    - num_accts_ever_120_pd: número de cuentas
    - num_actv_bc_tl: cuentas
    - num_actv_rev_tl: número de cuentas
    - num_bc_sats: cuentas de banco
    - num_bc_tl: número de cuentas
    - num_il_tl: número de cuentas instaladas
    - num_op_rev_tl: número de cuentas
    - num_rev_accts: número de cuentas
    - num_rev_tl_bal_gt_0: número de cuentas
    - num_sats: número de cuentas
    - num_tl_120dpd_2m: número de cuentas
    - num_tl_30dpd: número de cuentas
    - num_tl_90g_dpd_24m: número de cuentas
    - num_tl_op_past_12m: número de cuentas
    - pub_rec_bankruptcies: número de bancarrotas
    - tax_liens: número de tax liens	
 - Para los booleanos, mejor dejarlo en la opción doble de strings; podría confundir si no.
 - Cambiar a int, aunque sean columnas llenas de Nan, deberían ser puros 0's, al ser el valor propio para expresar que no han habido casos. Es por eso que on vale borrar la columna. No vale la pena tirarlas. En NaN están bien, pero hace sentido que pronto sean modificadas.
    - delinq_2yrs
    - inq_last_6ths
    - open_acc_6m
    - open_act_il
    - open_il_12m
    - open_il_24m
    - open_rv_12m
    - inq_last_12m
    - open_rv_24m
    - acc_open_past_24mths
    - mo_sin_rcnt_tl: número de cuentas
 - Columnas llenas de NaNs que no hace sentido que no tengan valores (pero deben ser ints).
    - total_cu_tl: no hace sentido que no haya para ningún ID finance trades sin delimitación de periodos. 
    - inq_fi: nunca nadie de las observaciones tuvo ninguna queja. Suena, para todas las observaciones, sin tener límite de periodo, un caso muy particular (o inexistente). Además, columnas como mths_since_recent_inq indican que hubieron inquiries antes.
    - Secondary aplicant: no hay datos de ningún seconary applicant por lo cual es un desperdicio de espacio tantas columnas para no tener una sola observación de dicho caso
      - sec_app_fico_range_low
      - sec_app_fico_range_high
      - sec_app_earliest_cr_line
      - sec_app_inq_last_6mths
      - sec_app_mort_acc
      - sec_app_open_acc
      - sec_app_revol_util
 - Cambio a booleano: directamente escribem 'Y' o 'N'. Es mejor usarlo con True o False.
 - Fechas:
   - next_pymnt_d
   - hardship_start_date
   - hardship_end_date
   - payment_plan_start_date

#### Último chunk

In [110]:
# Ultimo

types_description.loc[140:150]

,column_name,type,description
140,hardship_payoff_balance_amount,float64,The payoff balance amount as of the hardship p...
141,hardship_last_payment_amount,float64,The last payment amount as of the hardship pla...
142,disbursement_method,object,The method by which the borrower receives thei...
143,debt_settlement_flag,object,"Flags whether or not the borrower, who has cha..."
144,debt_settlement_flag_date,object,The most recent date that the Debt_Settlement_...
145,settlement_status,object,The status of the borrower’s settlement plan. ...
146,settlement_date,object,The date that the borrower agrees to the settl...
147,settlement_amount,float64,The loan amount that the borrower has agreed t...
148,settlement_percentage,float64,The settlement amount as a percentage of the p...
149,settlement_term,float64,The number of months that the borrower will be...

In [111]:
loans.debt_settlement_flag.unique()

array(['N', 'Y'], dtype=object)

In [112]:
loans.debt_settlement_flag_date.unique()

array([nan, 'Jul-2017', 'Apr-2017', 'Nov-2017', 'Mar-2017', 'Oct-2017',
       'Sep-2017', 'Aug-2017', 'Dec-2016', 'Jul-2016', 'Jun-2017',
       'Feb-2017', 'Dec-2017', 'Nov-2015', 'Jan-2017', 'Feb-2016',
       'Dec-2015', 'Jun-2016', 'Aug-2016', 'May-2016', 'Sep-2016',
       'Oct-2016', 'May-2017', 'Apr-2016', 'Sep-2015', 'Mar-2016',
       'Jul-2015', 'Nov-2016', 'Jan-2016', 'Jun-2015', 'Aug-2015',
       'Oct-2015', 'Mar-2015', 'Feb-2015'], dtype=object)

In [113]:
loans.settlement_status.unique()

array([nan, 'ACTIVE', 'BROKEN', 'COMPLETE'], dtype=object)

In [114]:
loans.settlement_date.unique()

array([nan, 'Jul-2017', 'May-2017', 'Apr-2017', 'Nov-2017', 'Aug-2016',
       'Oct-2017', 'Sep-2017', 'Aug-2017', 'Feb-2017', 'Jun-2017',
       'Mar-2017', 'Jan-2016', 'Apr-2016', 'Jun-2016', 'Jan-2017',
       'Dec-2017', 'Nov-2016', 'Oct-2015', 'Dec-2015', 'Jul-2015',
       'Feb-2016', 'Sep-2016', 'Mar-2016', 'Dec-2016', 'Aug-2015',
       'Oct-2016', 'Nov-2015', 'Sep-2015', 'May-2016', 'Jul-2016',
       'Jun-2015', 'May-2015', 'Mar-2015', 'Apr-2015', 'Feb-2015'],
      dtype=object)

In [115]:
loans.settlement_term.unique()

array([nan,  8., 24.,  6.,  0., 14., 12., 16.,  1.,  4., 18.,  9.,  3.,
       15., 10.,  7., 22., 17.,  2., 23.,  5., 11., 20., 13., 36.])

#### **Justificación de casteos**

Cambios al séptimo chunk
 - los ID no son float, son int. 
 - ZIP code, si son los tres primeros números, no hace sentido tener dos xx al final
 - Problemas con números de meses siendo ints, pero casteados como float. En la descripción aclara que es número de meses:
    - delinq_2yrs
    - inq_last_6ths
    - mths_since_last_delinq
    - mths_since_last_record
    - mths_since_last_major_derog
    - mo_sin_old_il_acct
    - mo_sin_old_rev_tl_op
    - mo_sin_rcnt_rev_tl_op
    - mo_sin_rcnt_tl
    - mths_since_recent_bc
    - mths_since_rcnt_il
    - mths_since_recent_bc_dlq
    - mths_since_recent_inq
    - deferral_term
    - hardship_length
    - settlement_term
 - Deberían ser unidades no particionables. Además, solo tienen ints (y NaNs en sus columnas)
    - open_acc: cuentas abiertas
    - pub_rec: número de records
    - total_acc: número de líneas de crédito
    - collections_12_mths_ex_med: número de colecciones
    - bc_open_to_buy: número de tarjetas
    - chargeoff_within_12_mths: número de cargos
    - num_accts_ever_120_pd: número de cuentas
    - num_actv_bc_tl: cuentas
    - num_actv_rev_tl: número de cuentas
    - num_bc_sats: cuentas de banco
    - num_bc_tl: número de cuentas
    - num_il_tl: número de cuentas instaladas
    - num_op_rev_tl: número de cuentas
    - num_rev_accts: número de cuentas
    - num_rev_tl_bal_gt_0: número de cuentas
    - num_sats: número de cuentas
    - num_tl_120dpd_2m: número de cuentas
    - num_tl_30dpd: número de cuentas
    - num_tl_90g_dpd_24m: número de cuentas
    - num_tl_op_past_12m: número de cuentas
    - pub_rec_bankruptcies: número de bancarrotas
    - tax_liens: número de tax liens	
 - Cambio a booleano: directamente escriben 'Y' o 'N'. Es mejor usarlo con True o False.
      - hardship_flag
      - debt_settlement_flag
 - Fechas:
   - next_pymnt_d
   - hardship_start_date
   - hardship_end_date
   - payment_plan_start_date
   - debt_settlement_flag_date
   - settlement_date
 - Cambiar a int, aunque sean columnas llenas de Nan, deberían ser puros 0's, al ser el valor propio para expresar que no han habido casos. Es por eso que on vale borrar la columna. No vale la pena tirarlas. En NaN están bien, pero hace sentido que pronto sean modificadas.
    - delinq_2yrs
    - last_pymnt_d
    - inq_last_6ths
    - open_acc_6m
    - open_act_il
    - open_il_12m
    - open_il_24m
    - open_rv_12m
    - inq_last_12m
    - open_rv_24m
    - acc_open_past_24mths
    - mo_sin_rcnt_tl: número de cuentas

##### **Convertir a int**

In [116]:
# lista de columnas a convertir

lista_int = ['member_id', 'open_acc', 'pub_rec', 'total_acc', 'delinq_2yrs', 'inq_last_6ths', 'mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mths_since_recent_bc',  'mths_since_rcnt_il', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'deferral_term', 'hardship_length', 'settlement_term', 'collections_12_mths_ex_med', 'bc_open_to_buy', 'chargeoff_within_12_mths', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pub_rec_bankruptcies', 'tax_liens', 'delinq_2yrs', 'inq_last_6ths', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_rv_12m', 'inq_last_12m', 'open_rv_24m', 'acc_open_past_24mths', 'mo_sin_rcnt_tl: número de cuentas']

try:
    for col in lista_int:
        loans[col] = loans[col].astype(int)
except:
    print("Error")

Error

El problema es que int no acepta tipos de valores NaN en una columna. Por lo cual podemos reemplazar los valores o no. En ese sentido, las columnas que habíamos identificado necesitarán ser tratadas posteriormente en el manejo de NaNs. En ese sentido, solo convendría guardar como int la columna de ID, que es un valor infaltable por observación que sabremos no tendrá NaNs.

##### **Convertir a date**

In [117]:
loans['last_pymnt_d'] = pd.to_datetime(loans['last_pymnt_d'], format="%b-%Y")
loans['last_pymnt_d'].dtype

dtype('<M8[ns]')

In [118]:

loans['next_pymnt_d'] = pd.to_datetime(loans['next_pymnt_d'], format="%b-%Y")
loans['next_pymnt_d'].dtype

dtype('<M8[ns]')

In [119]:
loans['hardship_start_date'] = pd.to_datetime(loans['hardship_start_date'], format="%b-%Y")
loans['hardship_start_date'].dtype

dtype('<M8[ns]')

In [120]:
loans['hardship_end_date'] = pd.to_datetime(loans['hardship_end_date'], format="%b-%Y")
loans['hardship_end_date'].dtype

dtype('<M8[ns]')

In [121]:
loans['payment_plan_start_date'] = pd.to_datetime(loans['payment_plan_start_date'], format="%b-%Y")
loans['payment_plan_start_date'].dtype

dtype('<M8[ns]')

In [122]:
loans['debt_settlement_flag_date'] = pd.to_datetime(loans['debt_settlement_flag_date'], format="%b-%Y")
loans['debt_settlement_flag_date'].dtype

dtype('<M8[ns]')

In [123]:
loans['settlement_date'] = pd.to_datetime(loans['settlement_date'], format="%b-%Y")
loans['settlement_date'].dtype

dtype('<M8[ns]')

##### **Cambiar los tres primeros dígitos de ZIP**

In [124]:
loans["zip_code"] = loans["zip_code"].apply(lambda x: int(x[:-2]))

##### **Cambio a booleano**

In [125]:
for a in ['hardship_flag', 'debt_settlement_flag']:
    loans[a] = loans[a].replace({'Y': True, 'N': False})

### **Volver a crear la tabla de tipos de valor**

In [126]:
column_typ = loans.dtypes
column_typ

id                                int64
member_id                       float64
loan_amnt                       float64
funded_amnt                     float64
funded_amnt_inv                 float64
                              ...
settlement_status                object
settlement_date          datetime64[ns]
settlement_amount               float64
settlement_percentage           float64
settlement_term                 float64
Length: 150, dtype: object

In [127]:
tabla_tipos_auxiliar = pd.DataFrame({'column_name': loans.columns, 'type': column_typ})

Reescribir

In [128]:
types_description = pd.merge(tabla_tipos_auxiliar, datos_dict, on='column_name')

In [129]:
types_description

,column_name,type,description
0,id,int64,A unique LC assigned ID for the loan listing.
1,member_id,float64,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,The listed amount of the loan applied for by t...
3,funded_amnt,float64,The total amount committed to that loan at tha...
4,funded_amnt_inv,float64,The total amount committed by investors for th...
...,...,...,...
145,settlement_status,object,The status of the borrower’s settlement plan. ...
146,settlement_date,datetime64[ns],The date that the borrower agrees to the settl...
147,settlement_amount,float64,The loan amount that the borrower has agreed t...
148,settlement_percentage,float64,The settlement amount as a percentage of the p...
149,settlement_term,float64,The number of months that the borrower will be...

## **Manejo de NaNs o missings**

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Búsqueda de NaNs

Puros NaNs

In [130]:
loans_full_nulls = loans.columns[loans.isna().all()]

In [131]:
loans_full_nulls

Index(['member_id', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'open_acc_6m', 'open_act_il',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'inq_fi', 'total_cu_tl', 'inq_last_12m', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog'],
      dtype='object')

In [132]:
loans_any_nulls = loans.columns[(loans.isna().any()) & (~loans.isna().all())]

In [133]:
loans_any_nulls

Index(['emp_title', 'emp_length', 'desc', 'mths_since_last_delinq',
       'mths_since_last_record', 'revol_util', 'last_pymnt_d', 'next_pymnt_d',
       'last_credit_pull_d', 'mths_since_last_major_derog', 'bc_open_to_buy',
       'bc_util', 'mo_sin_old_il_acct', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_tl_120dpd_2m',
       'percent_bc_gt_75', 'hardship_type', 'hardship_reason',
       'hardship_status', 'deferral_term', 'hardship_amount',
       'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date',
       'hardship_length', 'hardship_dpd', 'hardship_loan_status',
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

In [134]:
print("Existen " + str(len(loans_any_nulls) + len(loans_full_nulls)) + " columnas con nulls. De estas, " + str(len(loans_full_nulls)) + " son solo nulls.")

Existen 70 columnas con nulls. De estas, 31 son solo nulls.

Buscar de solo nans en la descripciones y tipos de datos para decidir.

In [135]:
pd.options.display.max_colwidth = 160

In [136]:
types_description[types_description.column_name.isin(loans_full_nulls.values)]

,column_name,type,description
1,member_id,float64,A unique LC assigned Id for the borrower member.
56,annual_inc_joint,float64,The combined self-reported annual income provided by the co-borrowers during registration
57,dti_joint,float64,"A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by t..."
58,verification_status_joint,float64,"Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified"
62,open_acc_6m,float64,Number of open trades in last 6 months
63,open_act_il,float64,Number of currently active installment trades
64,open_il_12m,float64,Number of installment accounts opened in past 12 months
65,open_il_24m,float64,Number of installment accounts opened in past 24 months
66,mths_since_rcnt_il,float64,Months since most recent installment accounts opened
67,total_bal_il,float64,Total current balance of all installment accounts
68,il_util,float64,Ratio of total current balance to high credit/credit limit on all install acct
69,open_rv_12m,float64,Number of revolving trades opened in past 12 months
70,open_rv_24m,float64,Number of revolving trades opened in past 24 months
71,max_bal_bc,float64,Maximum current balance owed on all revolving accounts
72,all_util,float64,Balance to credit limit on all trades
74,inq_fi,float64,Number of personal finance inquiries
75,total_cu_tl,float64,Number of finance trades
76,inq_last_12m,float64,Number of credit inquiries in past 12 months
114,revol_bal_joint,float64,"Sum of revolving credit balance of the co-borrowers, net of duplicate balances"
115,sec_app_fico_range_low,float64,FICO range (high) for the secondary applicant
116,sec_app_fico_range_high,float64,FICO range (low) for the secondary applicant
117,sec_app_earliest_cr_line,float64,Earliest credit line at time of application for the secondary applicant
118,sec_app_inq_last_6mths,float64,Credit inquiries in the last 6 months at time of application for the secondary applicant
119,sec_app_mort_acc,float64,Number of mortgage accounts at time of application for the secondary applicant
120,sec_app_open_acc,float64,Number of open trades at time of application for the secondary applicant
121,sec_app_revol_util,float64,Ratio of total current balance to high credit/credit limit for all revolving accounts
122,sec_app_open_act_il,float64,Number of currently active installment trades at time of application for the secondary applicant
123,sec_app_num_rev_accts,float64,Number of revolving accounts at time of application for the secondary applicant
124,sec_app_chargeoff_within_12_mths,float64,Number of charge-offs within last 12 months at time of application for the secondary applicant
125,sec_app_collections_12_mths_ex_med,float64,Number of collections within last 12 months excluding medical collections at time of application for the secondary applicant
126,sec_app_mths_since_last_major_derog,float64,Months since most recent 90-day or worse rating at time of application for the secondary applicant

In [137]:
types_description[types_description.column_name.isin(loans_any_nulls.values)]

,column_name,type,description
10,emp_title,object,The job title supplied by the Borrower when applying for the loan.*
11,emp_length,object,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
18,desc,object,Loan description provided by the borrower
29,mths_since_last_delinq,float64,The number of months since the borrower's last delinquency.
30,mths_since_last_record,float64,The number of months since the last public record.
34,revol_util,float64,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
46,last_pymnt_d,datetime64[ns],Last month payment was received
48,next_pymnt_d,datetime64[ns],Next scheduled payment date
49,last_credit_pull_d,object,The most recent month LC pulled credit for this loan
53,mths_since_last_major_derog,float64,Months since most recent 90-day or worse rating
79,bc_open_to_buy,float64,Total open to buy on revolving bankcards.
80,bc_util,float64,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
83,mo_sin_old_il_acct,float64,Months since oldest bank installment account opened
88,mths_since_recent_bc,float64,Months since most recent bankcard account opened.
89,mths_since_recent_bc_dlq,float64,Months since most recent bankcard delinquency
90,mths_since_recent_inq,float64,Months since most recent inquiry.
91,mths_since_recent_revol_delinq,float64,Months since most recent revolving delinquency.
102,num_tl_120dpd_2m,float64,Number of accounts currently 120 days past due (updated in past 2 months)
107,percent_bc_gt_75,float64,Percentage of all bankcard accounts > 75% of limit.
128,hardship_type,object,Describes the hardship plan offering
129,hardship_reason,object,Describes the reason the hardship plan was offered
130,hardship_status,object,"Describes if the hardship plan is active, pending, canceled, completed, or broken"
131,deferral_term,float64,Amount of months that the borrower is expected to pay less than the contractual monthly payment amount due to a hardship plan
132,hardship_amount,float64,The interest payment that the borrower has committed to make each month while they are on a hardship plan
133,hardship_start_date,datetime64[ns],The start date of the hardship plan period
134,hardship_end_date,datetime64[ns],The end date of the hardship plan period
135,payment_plan_start_date,datetime64[ns],"The day the first hardship plan payment is due. For example, if a borrower has a hardship plan period of 3 months, the start date is the start of the three-..."
136,hardship_length,float64,The number of months the borrower will make smaller payments than normally obligated due to a hardship plan
137,hardship_dpd,float64,Account days past due as of the hardship plan start date
138,hardship_loan_status,object,Loan Status as of the hardship plan start date
139,orig_projected_additional_accrued_interest,float64,The original projected additional interest amount that will accrue for the given hardship payment plan as of the Hardship Start Date. This field will be nul...
140,hardship_payoff_balance_amount,float64,The payoff balance amount as of the hardship plan start date
141,hardship_last_payment_amount,float64,The last payment amount as of the hardship plan start date
144,debt_settlement_flag_date,datetime64[ns],The most recent date that the Debt_Settlement_Flag has been set
145,settlement_status,object,"The status of the borrower’s settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT"
146,settlement_date,datetime64[ns],The date that the borrower agrees to the settlement plan
147,settlement_amount,float64,The loan amount that the borrower has agreed to settle for
148,settlement_percentage,float64,The settlement amount as a percentage of the payoff balance amount on the loan
149,settlement_term,float64,The number of months that the borrower will be on the settlement plan

Buscar los missing

In [138]:
print(loans.isin(['missing', 'Missing', 'MISSING']).any().any())

False

### **Imputacion**
 

**Dejar las columnas llenas de NanS**

 - Aunque sean columnas llenas de Nan, deberían ser puros 0's, al ser el valor propio para expresar que no han habido casos. Es por eso que on vale borrar la columna. No vale la pena tirarlas. En NaN están bien, pues hace sentido que pronto sean modificadas. Pero teniendo entendido que pronto tendrán valores, sería muy raro tener en un contador de valores únicos: NaN, 1, 2, 3...
    - delinq_2yrs
    - inq_last_6ths
    - open_acc_6m
    - open_act_il
    - open_il_12m
    - open_il_24m
    - open_rv_12m
    - inq_last_12m
    - open_rv_24m
    - acc_open_past_24mths
    - mo_sin_rcnt_tl: número de cuentas

In [139]:
for i in ['delinq_2yrs', 'inq_last_6ths', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'open_rv_12m', 'open_rv_12m', 'inq_last_12m', 'open_rv_24m', 'acc_open_past_24mths', 'mo_sin_rcnt_tl']:
    loans[i] = 0

**Columnas que deben ser eliminadas**

 - Columnas llenas de NaNs que no hace sentido que no tengan valores (pero deben ser ints).
    - total_cu_tl: no hace sentido que no haya para ningún ID finance trades sin delimitación de periodos. 
    - inq_fi: nunca nadie de las observaciones tuvo ninguna queja. Suena, para todas las observaciones, sin tener límite de periodo, un caso muy particular (o inexistente). Además, columnas como mths_since_recent_inq indican que hubieron inquiries antes.
    - member_id: valor único indispensable y nadie lo tiene
    - verification_status_joint: al ser un caso booleano (uno u otro valor), haría sentido que en cada una de las observaciones tenga un valor.
    - dti_joint: cifra no calculada en ningun momento para ninguna observación.
    - il_util: haría sentido que al menos haya un tipo de esa cuenta si se toma en consideración
    - all_util: misma lógica
    - revol_bal_joint: adenás de ser una cifra muy rara, no se tiene cálculo para ninguna observación
    - max_bal_bc: debería haber el tipo de cuenta
    - Secondary aplicant: no hay datos de ningún seconary applicant por lo cual es un desperdicio de espacio tantas columnas para no tener una sola observación de dicho caso
      - sec_app_fico_range_low
      - sec_app_fico_range_high
      - sec_app_earliest_cr_line
      - sec_app_inq_last_6mths
      - sec_app_mort_acc
      - sec_app_open_acc
      - sec_app_revol_util

In [140]:
loans = loans.drop(columns=['total_cu_tl', 'inq_fi' , 'member_id', 'verification_status_joint', 'dti_joint', 'il_util', 'all_util', 'revol_bal_joint', 'max_bal_bc','sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util'])

### **Columnas que hay que reemplazar por la media**

- revol_util: rate del cual tenemos que tener información completa para análiis.
- bc_util: al ser un ratio, necesitamos poder trabajar la información propia para realizar análisis, y los NaNs podrían afectar las cuentas.
- En el caso de percent_bc_gt_75 si necesitamos los Nans para filtrar los valores que sí pasan el filtro del 75%
    - hardship_amount: lo mismo para este caso, los NaNs son observaciones que no aplican al filtro considrado
    - hardship_length, igual
    - En general, hardship y settlement son filtros que dan valor a los NaN para realizar la exlcusión dicha.

In [141]:
for a in ['revol_util', 'bc_util']:
    loans[a] = loans[a].fillna(loans[a].mean()) # Ya excluye a los NaNs del cálculo por default

### **Ausencia de valores en datos**

Se espera sean de tipo NaT (Not a Time)

In [142]:
loans.last_pymnt_d.unique()

array(['2016-06-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2015-08-01T00:00:00.000000000', '2015-04-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2016-09-01T00:00:00.000000000',
       '2016-02-01T00:00:00.000000000', '2015-05-01T00:00:00.000000000',
       '2016-10-01T00:00:00.000000000', '2016-03-01T00:00:00.000000000',
       '2017-04-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2017-10-01T00:00:00.000000000', '2016-07-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2017-01-01T00:00:00.000000000',
       '2016-11-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2015-09-01T00:00:00.000000000', '2017-09-01T00:00:00.000000000',
       '2015-02-01T00:00:00.000000000', '2017-03-01T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2015-11-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
       '2015-10-01T00:00:00.000000000', '2017-05-01T00:00:00.000000000',
       '2015-07-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000',                           'NaT',
       '2014-11-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2014-08-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

Las demás, se dejarán como están porque se cree que los valores NaN están justificados, al ser la ausencia de información un dato real manejable que no estorba el análisis.

### **Codigo para crear el JSON**

### Codigo para salvar y cargar JSONs

In [143]:
aux = types_description.copy(deep= True)

In [144]:
aux["imputation_method"] = "No changes"
aux["value"] = "NaN"

In [145]:
# Mètodo para rellenar con 0

for i in ['delinq_2yrs', 'inq_last_6ths', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'open_rv_12m', 'open_rv_12m', 'inq_last_12m', 'open_rv_24m', 'acc_open_past_24mths', 'mo_sin_rcnt_tl']:
    aux['imputation_method'] = aux.apply(lambda row: "Replace with 0" if row['column_name'] == i else row['imputation_method'], axis=1)
    aux['value'] = aux.apply(lambda row: 0 if row['column_name'] == i else row['value'], axis=1)

In [146]:
# Mètodo para quitar columnas

for i in ['total_cu_tl', 'inq_fi' , 'member_id', 'verification_status_joint', 'dti_joint', 'il_util', 'all_util', 'revol_bal_joint', 'max_bal_bc','sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util']:
    aux['imputation_method'] = aux.apply(lambda row: "Dropped columns" if row['column_name'] == i else row['imputation_method'], axis=1)
    aux['value'] = aux.apply(lambda row: "No value" if row['column_name'] == i else row['value'], axis=1)

In [147]:
# Método de reemplazar por media

for i in ['revol_util', 'bc_util']:
    aux['imputation_method'] = aux.apply(lambda row: "Mean" if row['column_name'] == i else row['imputation_method'], axis=1)
    aux['value'] = aux.apply(lambda row: loans[i].mean() if row['column_name'] == i else row['value'], axis=1)

Crear un dataframe para luego pasarlo a JSON

In [148]:
aux.imputation_method.unique()

array(['No changes', 'Dropped columns', 'Replace with 0', 'Mean'],
      dtype=object)

In [149]:
aux.value.unique()

array(['NaN', 'No value', 0, 55.43498459137117, 64.5600220643307],
      dtype=object)

In [150]:
aux

,column_name,type,description,imputation_method,value
0,id,int64,A unique LC assigned ID for the loan listing.,No changes,NaN
1,member_id,float64,A unique LC assigned Id for the borrower member.,Dropped columns,No value
2,loan_amnt,float64,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflecte...",No changes,NaN
3,funded_amnt,float64,The total amount committed to that loan at that point in time.,No changes,NaN
4,funded_amnt_inv,float64,The total amount committed by investors for that loan at that point in time.,No changes,NaN
...,...,...,...,...,...
145,settlement_status,object,"The status of the borrower’s settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT",No changes,NaN
146,settlement_date,datetime64[ns],The date that the borrower agrees to the settlement plan,No changes,NaN
147,settlement_amount,float64,The loan amount that the borrower has agreed to settle for,No changes,NaN
148,settlement_percentage,float64,The settlement amount as a percentage of the payoff balance amount on the loan,No changes,NaN
149,settlement_term,float64,The number of months that the borrower will be on the settlement plan,No changes,NaN

In [151]:
json_df = aux.iloc[:, [0,3,4]]

In [152]:
json_df

               column_name imputation_method     value
0                       id        No changes       NaN
1                member_id   Dropped columns  No value
2                loan_amnt        No changes       NaN
3              funded_amnt        No changes       NaN
4          funded_amnt_inv        No changes       NaN
..                     ...               ...       ...
145      settlement_status        No changes       NaN
146        settlement_date        No changes       NaN
147      settlement_amount        No changes       NaN
148  settlement_percentage        No changes       NaN
149        settlement_term        No changes       NaN

[150 rows x 3 columns]

In [154]:
import json

In [156]:
column_names = json_df.column_name.values
strategy = json_df.imputation_method.values
value_arr = json_df.value.values

json_dict = {}

for i in range(len(column_names)):
    json_dict[column_names[i]] = {'strategy': strategy[i], 'value': value_arr[i]}

json_str = json.dumps(json_dict)

print(json_str)

{"id": {"strategy": "No changes", "value": "NaN"}, "member_id": {"strategy": "Dropped columns", "value": "No value"}, "loan_amnt": {"strategy": "No changes", "value": "NaN"}, "funded_amnt": {"strategy": "No changes", "value": "NaN"}, "funded_amnt_inv": {"strategy": "No changes", "value": "NaN"}, "term": {"strategy": "No changes", "value": "NaN"}, "int_rate": {"strategy": "No changes", "value": "NaN"}, "installment": {"strategy": "No changes", "value": "NaN"}, "grade": {"strategy": "No changes", "value": "NaN"}, "sub_grade": {"strategy": "No changes", "value": "NaN"}, "emp_title": {"strategy": "No changes", "value": "NaN"}, "emp_length": {"strategy": "No changes", "value": "NaN"}, "home_ownership": {"strategy": "No changes", "value": "NaN"}, "annual_inc": {"strategy": "No changes", "value": "NaN"}, "verification_status": {"strategy": "No changes", "value": "NaN"}, "issue_d": {"strategy": "No changes", "value": "NaN"}, "loan_status": {"strategy": "No changes", "value": "NaN"}, "pymnt_plan": {"strategy": "No changes", "value": "NaN"}, "desc": {"strategy": "No changes", "value": "NaN"}, "purpose": {"strategy": "No changes", "value": "NaN"}, "title": {"strategy": "No changes", "value": "NaN"}, "zip_code": {"strategy": "No changes", "value": "NaN"}, "addr_state": {"strategy": "No changes", "value": "NaN"}, "dti": {"strategy": "No changes", "value": "NaN"}, "delinq_2yrs": {"strategy": "Replace with 0", "value": 0}, "earliest_cr_line": {"strategy": "No changes", "value": "NaN"}, "fico_range_low": {"strategy": "No changes", "value": "NaN"}, "fico_range_high": {"strategy": "No changes", "value": "NaN"}, "inq_last_6mths": {"strategy": "No changes", "value": "NaN"}, "mths_since_last_delinq": {"strategy": "No changes", "value": "NaN"}, "mths_since_last_record": {"strategy": "No changes", "value": "NaN"}, "open_acc": {"strategy": "No changes", "value": "NaN"}, "pub_rec": {"strategy": "No changes", "value": "NaN"}, "revol_bal": {"strategy": "No changes", "value": "NaN"}, "revol_util": {"strategy": "Mean", "value": 55.43498459137117}, "total_acc": {"strategy": "No changes", "value": "NaN"}, "initial_list_status": {"strategy": "No changes", "value": "NaN"}, "out_prncp": {"strategy": "No changes", "value": "NaN"}, "out_prncp_inv": {"strategy": "No changes", "value": "NaN"}, "total_pymnt": {"strategy": "No changes", "value": "NaN"}, "total_pymnt_inv": {"strategy": "No changes", "value": "NaN"}, "total_rec_prncp": {"strategy": "No changes", "value": "NaN"}, "total_rec_int": {"strategy": "No changes", "value": "NaN"}, "total_rec_late_fee": {"strategy": "No changes", "value": "NaN"}, "recoveries": {"strategy": "No changes", "value": "NaN"}, "collection_recovery_fee": {"strategy": "No changes", "value": "NaN"}, "last_pymnt_d": {"strategy": "No changes", "value": "NaN"}, "last_pymnt_amnt": {"strategy": "No changes", "value": "NaN"}, "next_pymnt_d": {"strategy": "No changes", "value": "NaN"}, "last_credit_pull_d": {"strategy": "No changes", "value": "NaN"}, "last_fico_range_high": {"strategy": "No changes", "value": "NaN"}, "last_fico_range_low": {"strategy": "No changes", "value": "NaN"}, "collections_12_mths_ex_med": {"strategy": "No changes", "value": "NaN"}, "mths_since_last_major_derog": {"strategy": "No changes", "value": "NaN"}, "policy_code": {"strategy": "No changes", "value": "NaN"}, "application_type": {"strategy": "No changes", "value": "NaN"}, "annual_inc_joint": {"strategy": "No changes", "value": "NaN"}, "dti_joint": {"strategy": "Dropped columns", "value": "No value"}, "verification_status_joint": {"strategy": "Dropped columns", "value": "No value"}, "acc_now_delinq": {"strategy": "No changes", "value": "NaN"}, "tot_coll_amt": {"strategy": "No changes", "value": "NaN"}, "tot_cur_bal": {"strategy": "No changes", "value": "NaN"}, "open_acc_6m": {"strategy": "Replace with 0", "value": 0}, "open_act_il": {"strategy": "Replace with 0", "value": 0}, "open_il_12m": {"strategy": "Replace with 0", "value": 0}, "open_il_24m": {"strategy": "Replace with 0", "value": 0}, "mths_since_rcnt_il": {"strategy": "No changes", "value": "NaN"}, "total_bal_il": {"strategy": "No changes", "value": "NaN"}, "il_util": {"strategy": "Dropped columns", "value": "No value"}, "open_rv_12m": {"strategy": "Replace with 0", "value": 0}, "open_rv_24m": {"strategy": "Replace with 0", "value": 0}, "max_bal_bc": {"strategy": "Dropped columns", "value": "No value"}, "all_util": {"strategy": "Dropped columns", "value": "No value"}, "total_rev_hi_lim": {"strategy": "No changes", "value": "NaN"}, "inq_fi": {"strategy": "Dropped columns", "value": "No value"}, "total_cu_tl": {"strategy": "Dropped columns", "value": "No value"}, "inq_last_12m": {"strategy": "Replace with 0", "value": 0}, "acc_open_past_24mths": {"strategy": "Replace with 0", "value": 0}, "avg_cur_bal": {"strategy": "No changes", "value": "NaN"}, "bc_open_to_buy": {"strategy": "No changes", "value": "NaN"}, "bc_util": {"strategy": "Mean", "value": 64.5600220643307}, "chargeoff_within_12_mths": {"strategy": "No changes", "value": "NaN"}, "delinq_amnt": {"strategy": "No changes", "value": "NaN"}, "mo_sin_old_il_acct": {"strategy": "No changes", "value": "NaN"}, "mo_sin_old_rev_tl_op": {"strategy": "No changes", "value": "NaN"}, "mo_sin_rcnt_rev_tl_op": {"strategy": "No changes", "value": "NaN"}, "mo_sin_rcnt_tl": {"strategy": "Replace with 0", "value": 0}, "mort_acc": {"strategy": "No changes", "value": "NaN"}, "mths_since_recent_bc": {"strategy": "No changes", "value": "NaN"}, "mths_since_recent_bc_dlq": {"strategy": "No changes", "value": "NaN"}, "mths_since_recent_inq": {"strategy": "No changes", "value": "NaN"}, "mths_since_recent_revol_delinq": {"strategy": "No changes", "value": "NaN"}, "num_accts_ever_120_pd": {"strategy": "No changes", "value": "NaN"}, "num_actv_bc_tl": {"strategy": "No changes", "value": "NaN"}, "num_actv_rev_tl": {"strategy": "No changes", "value": "NaN"}, "num_bc_sats": {"strategy": "No changes", "value": "NaN"}, "num_bc_tl": {"strategy": "No changes", "value": "NaN"}, "num_il_tl": {"strategy": "No changes", "value": "NaN"}, "num_op_rev_tl": {"strategy": "No changes", "value": "NaN"}, "num_rev_accts": {"strategy": "No changes", "value": "NaN"}, "num_rev_tl_bal_gt_0": {"strategy": "No changes", "value": "NaN"}, "num_sats": {"strategy": "No changes", "value": "NaN"}, "num_tl_120dpd_2m": {"strategy": "No changes", "value": "NaN"}, "num_tl_30dpd": {"strategy": "No changes", "value": "NaN"}, "num_tl_90g_dpd_24m": {"strategy": "No changes", "value": "NaN"}, "num_tl_op_past_12m": {"strategy": "No changes", "value": "NaN"}, "pct_tl_nvr_dlq": {"strategy": "No changes", "value": "NaN"}, "percent_bc_gt_75": {"strategy": "No changes", "value": "NaN"}, "pub_rec_bankruptcies": {"strategy": "No changes", "value": "NaN"}, "tax_liens": {"strategy": "No changes", "value": "NaN"}, "tot_hi_cred_lim": {"strategy": "No changes", "value": "NaN"}, "total_bal_ex_mort": {"strategy": "No changes", "value": "NaN"}, "total_bc_limit": {"strategy": "No changes", "value": "NaN"}, "total_il_high_credit_limit": {"strategy": "No changes", "value": "NaN"}, "revol_bal_joint": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_fico_range_low": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_fico_range_high": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_earliest_cr_line": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_inq_last_6mths": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_mort_acc": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_open_acc": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_revol_util": {"strategy": "Dropped columns", "value": "No value"}, "sec_app_open_act_il": {"strategy": "No changes", "value": "NaN"}, "sec_app_num_rev_accts": {"strategy": "No changes", "value": "NaN"}, "sec_app_chargeoff_within_12_mths": {"strategy": "No changes", "value": "NaN"}, "sec_app_collections_12_mths_ex_med": {"strategy": "No changes", "value": "NaN"}, "sec_app_mths_since_last_major_derog": {"strategy": "No changes", "value": "NaN"}, "hardship_flag": {"strategy": "No changes", "value": "NaN"}, "hardship_type": {"strategy": "No changes", "value": "NaN"}, "hardship_reason": {"strategy": "No changes", "value": "NaN"}, "hardship_status": {"strategy": "No changes", "value": "NaN"}, "deferral_term": {"strategy": "No changes", "value": "NaN"}, "hardship_amount": {"strategy": "No changes", "value": "NaN"}, "hardship_start_date": {"strategy": "No changes", "value": "NaN"}, "hardship_end_date": {"strategy": "No changes", "value": "NaN"}, "payment_plan_start_date": {"strategy": "No changes", "value": "NaN"}, "hardship_length": {"strategy": "No changes", "value": "NaN"}, "hardship_dpd": {"strategy": "No changes", "value": "NaN"}, "hardship_loan_status": {"strategy": "No changes", "value": "NaN"}, "orig_projected_additional_accrued_interest": {"strategy": "No changes", "value": "NaN"}, "hardship_payoff_balance_amount": {"strategy": "No changes", "value": "NaN"}, "hardship_last_payment_amount": {"strategy": "No changes", "value": "NaN"}, "disbursement_method": {"strategy": "No changes", "value": "NaN"}, "debt_settlement_flag": {"strategy": "No changes", "value": "NaN"}, "debt_settlement_flag_date": {"strategy": "No changes", "value": "NaN"}, "settlement_status": {"strategy": "No changes", "value": "NaN"}, "settlement_date": {"strategy": "No changes", "value": "NaN"}, "settlement_amount": {"strategy": "No changes", "value": "NaN"}, "settlement_percentage": {"strategy": "No changes", "value": "NaN"}, "settlement_term": {"strategy": "No changes", "value": "NaN"}}