# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [2]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [4]:
pd.set_option('display.max_columns',None)
loans = pd.read_csv('/Users/elisagarciazafra/Desktop/fuentes/fdd_prim_2023_elisa/tareas_v2/19_elisa/pandas/LoansData_sample.csv')
loans

/var/folders/kd/nxdbz96s1fd8rlr4vhqrzt480000gn/T/ipykernel_99231/3758949390.py:2: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv('/Users/elisagarciazafra/Desktop/fuentes/fdd_prim_2023_elisa/tareas_v2/19_elisa/pandas/LoansData_sample.csv')

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,235xx,VA,12.03,0.0,Aug-1994,750.0,754.0,0.0,NaN,NaN,6.0,0.0,138008.0,29.0,17.0,w,0.00,0.00,17392.370000,17392.37,15000.00,2392.37,0.0,0.00,0.0000,Jun-2016,12017.81,NaN,Nov-2017,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,149140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184500.0,NaN,NaN,NaN,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,NaN,NaN,NaN,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,Dec-2014,Charged Off,n,NaN,credit_card,Credit card refinancing,937xx,CA,14.92,0.0,Sep-1989,710.0,714.0,2.0,42.0,NaN,17.0,0.0,6133.0,31.6,36.0,w,0.00,0.00,6611.690000,6611.69,5217.75,872.67,0.0,521.27,93.8286,Aug-2016,321.08,NaN,Feb-2017,564.0,560.0,0.0,59.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,162110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19400.0,NaN,NaN,NaN,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,42.0,1.0,42.0,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,D1,Programming Analysis Supervisor,6 years,RENT,63800.0,Source Verified,Dec-2014,Fully Paid,n,NaN,credit_card,Credit card refinancing,658xx,MO,18.49,0.0,Aug-2003,685.0,689.0,0.0,60.0,NaN,10.0,0.0,16374.0,76.2,35.0,w,0.00,0.00,25512.200000,25512.20,21425.00,4087.20,0.0,0.00,0.0000,May-2016,17813.19,NaN,Dec-2017,704.0,700.0,0.0,74.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,42315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21500.0,NaN,NaN,NaN,4.0,4232.0,324.0,97.8,0.0,0.0,135.0,136.0,7.0,7.0,0.0,7.0,60.0,7.0,60.0,1.0,3.0,4.0,3.0,12.0,16.0,5.0,18.0,4.0,10.0,0.0,0.0,0.0,2.0,91.4,100.0,0.0,0.0,57073.0,42315.0,15000.0,35573.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,Senior Sales Professional,10+ years,MORTGAGE,125000.0,Verified,Dec-2014,Current,n,NaN,car,Car financing,953xx,CA,8.31,1.0,Oct-2000,665.0,669.0,0.0,17.0,NaN,8.0,0.0,5753.0,100.9,13.0,w,6673.54,6673.54,11207.670000,11207.67,6126.46,5081.21,0.0,0.00,0.0000,Dec-2017,319.08,Jan-2018,Dec-2017,629.0,625.0,0.0,36.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,261815.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5700.0,NaN,NaN,NaN,2.0,32727.0,0.0,103.2,0.0,0.0,16.0,170.0,21.0,16.0,5.0,21.0,17.0,1.0,17.0,1.0,3.0,5.0,3.0,5.0,1.0,5.0,7.0,5.0,8.0,0.0,0.0,0.0,0.0,76.9,100.0,0.0,0.0,368700.0,18007.0,4400.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,Technical Specialist,< 1 year,RENT,50000.0,Source Verified,Dec-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,850xx,AZ,34.81,0.0,Aug-2002,685.0,689.0,1.0,NaN,NaN,11.0,0.0,16822.0,91.9,20.0,f,0.00,0.00,2281.980000,2281.98,704.38,339.61,0.0,1237.99,222.8382,Aug-2015,17.70,NaN,Oct-2016,559.0,555.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,64426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18300.0,NaN,NaN,NaN,6.0,5857.0,332.0,93.2,0.0,0.0,137.0,148.0,8.0,8.0,0.0,17.0,NaN,3.0,NaN,0.0,1.0,4.0,1.0,4.0,12.0,4.0,8.0,4.0,11.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,82331.0,64426.0,4900.0,64031.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,B1,Software Engineer,2 years,MORTGAGE,91000.0,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,606xx,IL,7.78,1.0,Aug-1990,705.0,709.0,1.0,19.0,54.0,6.0,1.0,8495.0,55.5,16.0,w,0.00,0.00,9640.145407,9640.15,8400.00,1240.15,0.0,0.00,0.0000,Aug-2017,267.50,NaN,Dec-2017,714.0,710.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,152181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15300.0,NaN,NaN,NaN,2.0,25364.0,2505.0,77.2,0.0,0.0,285.0,287.0,5.0,5.0,1.0,5.0,19.0,5.0,19.0,0.0,2.0,2.0,2.0,6.0,7.0,3.0,7.0,2.0,6.0,0.0,0.0,0.0,2.0,93.7,50.0,0.0,0.0,209557.0,20872.0,11000.0,15473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,C1,Assistant Professor of English,3 years,RENT,53133.0,Not Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,874xx,NM,15.25,0.0,May-2001,690.0,694.0,0.0,NaN,NaN,11.0,0.0,10326.0,42.5,17.0,f,0.00,0.00,11685.080000,11685.08,10000.00,1685.08,0.0,0.00,0.0000,Mar-2016,5594.78,NaN,Dec-2017,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,98.0,46413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24300.0,NaN,NaN,NaN,3.0,4219.0,13974.0,42.5,0.0,0.0,77.0,158.0,5.0,5.0,0.0,5.0,NaN,24.0,NaN,0.0,5.0,5.0,9.0,11.0,4.0,9.0,13.0,5.0,11.0,0.0,0.0,0.0,1.0,100.0,11.1,0.0,0.0,64149.0,46413.0,24300.0,39849.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,E4,Facilities Tech 3,10+ years,RENT,78000.0,Verified,Aug-2014,Current,n,NaN,debt_consolidation,Debt consolidation,926xx,CA,23.75,0.0,Jun-1998,665.0,669.0,1.0,29.0,NaN,18.0,0.0,27409.0,79.0,30.0,w,13599.63,13599.63,32530.430000,32530.43,16400.37,16130.06,0.0,0.00,0.0000,Dec-2017,811.44,Jan-2018,Dec-2017,624.0,620.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,345934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34700.0,NaN,NaN,NaN,5.0,20349.0,2354.0,89.4,0.0,0.0,155.0,193.0,1.0,1.0,2.0,12.0,29.0,1.0,29.0,0.0,7.0,12.0,7.0,9.0,5.0,15.0,22.0,12.0,18.0,0.0,0.0,0.0,4.0,93.3,100.0,0.0,0.0,371088.0,45447.0,22300.0,25212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,F4,Records Examiner Analyst,10+ years,RENT,52000.0,Verified,Aug-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,630xx,MO,17.61,2.0,Nov-2000,660.0,664.0,1.0,13.0,83.0,11.0,1.0,2962.0,35.7,29.0,f,0.00,0.00,2695.360000,2695.36,1380.97,1314.39,0.0,0.00,0.0000,Apr-2015,336.92,NaN,Dec-2017,609.0,605.0,0.0,17.0,1.0,Individual,NaN,NaN,NaN,0.0,2066.0,31247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8300.0,NaN,NaN,NaN,8.0,3125.0,324.0,88.0,0.0,0.0,141.0,164.0,7.0,1.0,0.0,7.0,17.0,4.0,17.0,2.0,1.0,3.0,1.0,4.0,11.0,8.0,18.0,3.0,11.0,0.0,0.0,1.0,6.0,86.4,100.0,1.0,0.0,43686.0,31247.0,2700.0,35386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,B2,Occupational Theapy Assistant,3 years,OWN,60000.0,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,468xx,IN,27.82,0.0,Jul-1999,730.0,734.0,0.0,NaN,NaN,23.0,0.0,23719.0,40.3,35.0,w,0.00,0.00,29024.061162,29024.06,25000.00,4024.06,0.0,0.00,0.0000,Mar-2017,4759.78,NaN,Dec-2017,754.0,750.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,233053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58900.0,NaN,NaN,NaN,5.0,10133.0,17153.0,57.4,0.0,0.0,104.0,180.0,1.0,1.0,2.0,8.0,NaN,13.0,NaN,0.0,5.0,7.0,5.0,9.0,13.0,10.0,19.0,7.0,23.0,0.0,0.0,0.0,3.0,100.0,40.0,0.0,0.0,290888.0,71301.0,40300.0,64888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [5]:
column_types =loans.dtypes
column_types

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [8]:
# import sys
# !{sys.executable} -m pip install openpyxl

datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [9]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [ ]:
# COdigo guardar
datos_dict.to_pickle('datos.pkl')

In [ ]:
# Codigo para cargar
datos_dict=pd.read_pickle('datos.pkl')
datos_dict

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [20]:
# Manejos de tipos 1
loans_subset=loans[['id', 'loan_amnt', 'term', 'int_rate', 'installment', 'emp_title', 'emp_length', 'home_ownership',
'annual_inc', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'dti', 'earliest_cr_line', 'fico_range_low',
'inq_last_6mths', 'delinq_amnt', 'open_acc', 'pub_rec', 'total_acc', 'total_pymnt', 'total_rec_late_fee','last_pymnt_d']]
loans_subset

,id,loan_amnt,term,int_rate,installment,emp_title,emp_length,home_ownership,annual_inc,loan_status,pymnt_plan,purpose,title,dti,earliest_cr_line,fico_range_low,inq_last_6mths,delinq_amnt,open_acc,pub_rec,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_d
0,38098114,15000,60 months,12.39,336.64,MANAGEMENT,10+ years,RENT,78000,Fully Paid,n,debt_consolidation,Debt consolidation,12.03,Aug-1994,750.0,0.0,0.0,6.0,0.0,17.0,17392.370000,0.0,Jun-2016
1,36805548,10400,36 months,6.99,321.08,Truck Driver Delivery Personel,8 years,MORTGAGE,58000,Charged Off,n,credit_card,Credit card refinancing,14.92,Sep-1989,710.0,2.0,0.0,17.0,0.0,36.0,6611.690000,0.0,Aug-2016
2,37842129,21425,60 months,15.59,516.36,Programming Analysis Supervisor,6 years,RENT,63800,Fully Paid,n,credit_card,Credit card refinancing,18.49,Aug-2003,685.0,0.0,0.0,10.0,0.0,35.0,25512.200000,0.0,May-2016
3,37612354,12800,60 months,17.14,319.08,Senior Sales Professional,10+ years,MORTGAGE,125000,Current,n,car,Car financing,8.31,Oct-2000,665.0,0.0,0.0,8.0,0.0,13.0,11207.670000,0.0,Dec-2017
4,37662224,7650,36 months,13.66,260.20,Technical Specialist,< 1 year,RENT,50000,Charged Off,n,debt_consolidation,Debt consolidation,34.81,Aug-2002,685.0,1.0,0.0,11.0,0.0,20.0,2281.980000,0.0,Aug-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400,36 months,9.17,267.79,Software Engineer,2 years,MORTGAGE,91000,Fully Paid,n,debt_consolidation,Debt consolidation,7.78,Aug-1990,705.0,1.0,0.0,6.0,1.0,16.0,9640.145407,0.0,Aug-2017
99996,11396920,10000,36 months,12.99,336.90,Assistant Professor of English,3 years,RENT,53133,Fully Paid,n,debt_consolidation,Debt consolidation,15.25,May-2001,690.0,0.0,0.0,11.0,0.0,17.0,11685.080000,0.0,Mar-2016
99997,8556176,30000,60 months,20.99,811.44,Facilities Tech 3,10+ years,RENT,78000,Current,n,debt_consolidation,Debt consolidation,23.75,Jun-1998,665.0,1.0,0.0,18.0,0.0,30.0,32530.430000,0.0,Dec-2017
99998,24023408,8475,36 months,24.99,336.92,Records Examiner Analyst,10+ years,RENT,52000,Charged Off,n,debt_consolidation,Debt consolidation,17.61,Nov-2000,660.0,1.0,0.0,11.0,1.0,29.0,2695.360000,0.0,Apr-2015
99999,24023398,25000,36 months,10.15,808.45,Occupational Theapy Assistant,3 years,OWN,60000,Fully Paid,n,debt_consolidation,Debt consolidation,27.82,Jul-1999,730.0,0.0,0.0,23.0,0.0,35.0,29024.061162,0.0,Mar-2017

In [13]:
loans['annual_inc']=loans['annual_inc'].astype(np.int64) #de float a int porque mayoria de sus valores no tenian decimal

In [14]:
# Manejos de tipos 2
loans['loan_amnt']=loans['loan_amnt'].astype(np.int64) #de float a int porque mayoria de sus valores no tenian decimal

In [16]:
loans['annual_inc'].value_counts()

60000     3938
50000     3580
65000     2933
40000     2806
70000     2732
          ...
112248       1
45378        1
20414        1
89476        1
53133        1
Name: annual_inc, Length: 8820, dtype: int64

In [17]:
loans['loan_amnt'].value_counts()

10000    6936
12000    5517
20000    5419
15000    5316
35000    4368
         ...
24775       1
25650       1
30700       1
23525       1
30475       1
Name: loan_amnt, Length: 1254, dtype: int64

In [21]:
subset_types =loans_subset.dtypes
subset_types

id                      int64
loan_amnt               int64
term                   object
int_rate              float64
installment           float64
emp_title              object
emp_length             object
home_ownership         object
annual_inc              int64
loan_status            object
pymnt_plan             object
purpose                object
title                  object
dti                   float64
earliest_cr_line       object
fico_range_low        float64
inq_last_6mths        float64
delinq_amnt           float64
open_acc              float64
pub_rec               float64
total_acc             float64
total_pymnt           float64
total_rec_late_fee    float64
last_pymnt_d           object
dtype: object

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [23]:
loans_subset["last_pymnt_d"].fillna("missing", inplace=True)
loans_subset

/var/folders/kd/nxdbz96s1fd8rlr4vhqrzt480000gn/T/ipykernel_99231/1217780326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_subset["last_pymnt_d"].fillna("missing", inplace=True)

,id,loan_amnt,term,int_rate,installment,emp_title,emp_length,home_ownership,annual_inc,loan_status,pymnt_plan,purpose,title,dti,earliest_cr_line,fico_range_low,inq_last_6mths,delinq_amnt,open_acc,pub_rec,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_d
0,38098114,15000,60 months,12.39,336.64,MANAGEMENT,10+ years,RENT,78000,Fully Paid,n,debt_consolidation,Debt consolidation,12.03,Aug-1994,750.0,0.0,0.0,6.0,0.0,17.0,17392.370000,0.0,Jun-2016
1,36805548,10400,36 months,6.99,321.08,Truck Driver Delivery Personel,8 years,MORTGAGE,58000,Charged Off,n,credit_card,Credit card refinancing,14.92,Sep-1989,710.0,2.0,0.0,17.0,0.0,36.0,6611.690000,0.0,Aug-2016
2,37842129,21425,60 months,15.59,516.36,Programming Analysis Supervisor,6 years,RENT,63800,Fully Paid,n,credit_card,Credit card refinancing,18.49,Aug-2003,685.0,0.0,0.0,10.0,0.0,35.0,25512.200000,0.0,May-2016
3,37612354,12800,60 months,17.14,319.08,Senior Sales Professional,10+ years,MORTGAGE,125000,Current,n,car,Car financing,8.31,Oct-2000,665.0,0.0,0.0,8.0,0.0,13.0,11207.670000,0.0,Dec-2017
4,37662224,7650,36 months,13.66,260.20,Technical Specialist,< 1 year,RENT,50000,Charged Off,n,debt_consolidation,Debt consolidation,34.81,Aug-2002,685.0,1.0,0.0,11.0,0.0,20.0,2281.980000,0.0,Aug-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400,36 months,9.17,267.79,Software Engineer,2 years,MORTGAGE,91000,Fully Paid,n,debt_consolidation,Debt consolidation,7.78,Aug-1990,705.0,1.0,0.0,6.0,1.0,16.0,9640.145407,0.0,Aug-2017
99996,11396920,10000,36 months,12.99,336.90,Assistant Professor of English,3 years,RENT,53133,Fully Paid,n,debt_consolidation,Debt consolidation,15.25,May-2001,690.0,0.0,0.0,11.0,0.0,17.0,11685.080000,0.0,Mar-2016
99997,8556176,30000,60 months,20.99,811.44,Facilities Tech 3,10+ years,RENT,78000,Current,n,debt_consolidation,Debt consolidation,23.75,Jun-1998,665.0,1.0,0.0,18.0,0.0,30.0,32530.430000,0.0,Dec-2017
99998,24023408,8475,36 months,24.99,336.92,Records Examiner Analyst,10+ years,RENT,52000,Charged Off,n,debt_consolidation,Debt consolidation,17.61,Nov-2000,660.0,1.0,0.0,11.0,1.0,29.0,2695.360000,0.0,Apr-2015
99999,24023398,25000,36 months,10.15,808.45,Occupational Theapy Assistant,3 years,OWN,60000,Fully Paid,n,debt_consolidation,Debt consolidation,27.82,Jul-1999,730.0,0.0,0.0,23.0,0.0,35.0,29024.061162,0.0,Mar-2017

In [ ]:
# TUcodigo aqui

### Codigo para salvar y cargar JSONs