# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [2]:
loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true',compression='gzip')

loans

/tmp/ipykernel_15052/1329942476.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true',compression='gzip')

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,235xx,VA,12.03,0.0,Aug-1994,750.0,754.0,0.0,NaN,NaN,6.0,0.0,138008.0,29.0,17.0,w,0.00,0.00,17392.370000,17392.37,15000.00,2392.37,0.0,0.00,0.0000,Jun-2016,12017.81,NaN,Nov-2017,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,149140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184500.0,NaN,NaN,NaN,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,NaN,NaN,NaN,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,Dec-2014,Charged Off,n,NaN,credit_card,Credit card refinancing,937xx,CA,14.92,0.0,Sep-1989,710.0,714.0,2.0,42.0,NaN,17.0,0.0,6133.0,31.6,36.0,w,0.00,0.00,6611.690000,6611.69,5217.75,872.67,0.0,521.27,93.8286,Aug-2016,321.08,NaN,Feb-2017,564.0,560.0,0.0,59.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,162110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19400.0,NaN,NaN,NaN,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,42.0,1.0,42.0,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,D1,Programming Analysis Supervisor,6 years,RENT,63800.0,Source Verified,Dec-2014,Fully Paid,n,NaN,credit_card,Credit card refinancing,658xx,MO,18.49,0.0,Aug-2003,685.0,689.0,0.0,60.0,NaN,10.0,0.0,16374.0,76.2,35.0,w,0.00,0.00,25512.200000,25512.20,21425.00,4087.20,0.0,0.00,0.0000,May-2016,17813.19,NaN,Dec-2017,704.0,700.0,0.0,74.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,42315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21500.0,NaN,NaN,NaN,4.0,4232.0,324.0,97.8,0.0,0.0,135.0,136.0,7.0,7.0,0.0,7.0,60.0,7.0,60.0,1.0,3.0,4.0,3.0,12.0,16.0,5.0,18.0,4.0,10.0,0.0,0.0,0.0,2.0,91.4,100.0,0.0,0.0,57073.0,42315.0,15000.0,35573.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,Senior Sales Professional,10+ years,MORTGAGE,125000.0,Verified,Dec-2014,Current,n,NaN,car,Car financing,953xx,CA,8.31,1.0,Oct-2000,665.0,669.0,0.0,17.0,NaN,8.0,0.0,5753.0,100.9,13.0,w,6673.54,6673.54,11207.670000,11207.67,6126.46,5081.21,0.0,0.00,0.0000,Dec-2017,319.08,Jan-2018,Dec-2017,629.0,625.0,0.0,36.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,261815.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5700.0,NaN,NaN,NaN,2.0,32727.0,0.0,103.2,0.0,0.0,16.0,170.0,21.0,16.0,5.0,21.0,17.0,1.0,17.0,1.0,3.0,5.0,3.0,5.0,1.0,5.0,7.0,5.0,8.0,0.0,0.0,0.0,0.0,76.9,100.0,0.0,0.0,368700.0,18007.0,4400.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,Technical Specialist,< 1 year,RENT,50000.0,Source Verified,Dec-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,850xx,AZ,34.81,0.0,Aug-2002,685.0,689.0,1.0,NaN,NaN,11.0,0.0,16822.0,91.9,20.0,f,0.00,0.00,2281.980000,2281.98,704.38,339.61,0.0,1237.99,222.8382,Aug-2015,17.70,NaN,Oct-2016,559.0,555.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,64426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18300.0,NaN,NaN,NaN,6.0,5857.0,332.0,93.2,0.0,0.0,137.0,148.0,8.0,8.0,0.0,17.0,NaN,3.0,NaN,0.0,1.0,4.0,1.0,4.0,12.0,4.0,8.0,4.0,11.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,82331.0,64426.0,4900.0,64031.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,B1,Software Engineer,2 years,MORTGAGE,91000.0,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,606xx,IL,7.78,1.0,Aug-1990,705.0,709.0,1.0,19.0,54.0,6.0,1.0,8495.0,55.5,16.0,w,0.00,0.00,9640.145407,9640.15,8400.00,1240.15,0.0,0.00,0.0000,Aug-2017,267.50,NaN,Dec-2017,714.0,710.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,152181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15300.0,NaN,NaN,NaN,2.0,25364.0,2505.0,77.2,0.0,0.0,285.0,287.0,5.0,5.0,1.0,5.0,19.0,5.0,19.0,0.0,2.0,2.0,2.0,6.0,7.0,3.0,7.0,2.0,6.0,0.0,0.0,0.0,2.0,93.7,50.0,0.0,0.0,209557.0,20872.0,11000.0,15473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,C1,Assistant Professor of English,3 years,RENT,53133.0,Not Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,874xx,NM,15.25,0.0,May-2001,690.0,694.0,0.0,NaN,NaN,11.0,0.0,10326.0,42.5,17.0,f,0.00,0.00,11685.080000,11685.08,10000.00,1685.08,0.0,0.00,0.0000,Mar-2016,5594.78,NaN,Dec-2017,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,98.0,46413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24300.0,NaN,NaN,NaN,3.0,4219.0,13974.0,42.5,0.0,0.0,77.0,158.0,5.0,5.0,0.0,5.0,NaN,24.0,NaN,0.0,5.0,5.0,9.0,11.0,4.0,9.0,13.0,5.0,11.0,0.0,0.0,0.0,1.0,100.0,11.1,0.0,0.0,64149.0,46413.0,24300.0,39849.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,E4,Facilities Tech 3,10+ years,RENT,78000.0,Verified,Aug-2014,Current,n,NaN,debt_consolidation,Debt consolidation,926xx,CA,23.75,0.0,Jun-1998,665.0,669.0,1.0,29.0,NaN,18.0,0.0,27409.0,79.0,30.0,w,13599.63,13599.63,32530.430000,32530.43,16400.37,16130.06,0.0,0.00,0.0000,Dec-2017,811.44,Jan-2018,Dec-2017,624.0,620.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,345934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34700.0,NaN,NaN,NaN,5.0,20349.0,2354.0,89.4,0.0,0.0,155.0,193.0,1.0,1.0,2.0,12.0,29.0,1.0,29.0,0.0,7.0,12.0,7.0,9.0,5.0,15.0,22.0,12.0,18.0,0.0,0.0,0.0,4.0,93.3,100.0,0.0,0.0,371088.0,45447.0,22300.0,25212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,F4,Records Examiner Analyst,10+ years,RENT,52000.0,Verified,Aug-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,630xx,MO,17.61,2.0,Nov-2000,660.0,664.0,1.0,13.0,83.0,11.0,1.0,2962.0,35.7,29.0,f,0.00,0.00,2695.360000,2695.36,1380.97,1314.39,0.0,0.00,0.0000,Apr-2015,336.92,NaN,Dec-2017,609.0,605.0,0.0,17.0,1.0,Individual,NaN,NaN,NaN,0.0,2066.0,31247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8300.0,NaN,NaN,NaN,8.0,3125.0,324.0,88.0,0.0,0.0,141.0,164.0,7.0,1.0,0.0,7.0,17.0,4.0,17.0,2.0,1.0,3.0,1.0,4.0,11.0,8.0,18.0,3.0,11.0,0.0,0.0,1.0,6.0,86.4,100.0,1.0,0.0,43686.0,31247.0,2700.0,35386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,B2,Occupational Theapy Assistant,3 years,OWN,60000.0,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,468xx,IN,27.82,0.0,Jul-1999,730.0,734.0,0.0,NaN,NaN,23.0,0.0,23719.0,40.3,35.0,w,0.00,0.00,29024.061162,29024.06,25000.00,4024.06,0.0,0.00,0.0000,Mar-2017,4759.78,NaN,Dec-2017,754.0,750.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,233053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58900.0,NaN,NaN,NaN,5.0,10133.0,17153.0,57.4,0.0,0.0,104.0,180.0,1.0,1.0,2.0,8.0,NaN,13.0,NaN,0.0,5.0,7.0,5.0,9.0,13.0,10.0,19.0,7.0,23.0,0.0,0.0,0.0,3.0,100.0,40.0,0.0,0.0,290888.0,71301.0,40300.0,64888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

Comentario #1 :
Buena solución para evitar que el archivo comprimido truene el código.

In [3]:
loans.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [4]:
columnasVacias = loans[loans.columns[loans.isna().all()]].columns

Comentario #2
Que bien que se revises las columnas, sin contar las vacías. Y mejor eliminarlas para evitar fallos después.

In [5]:
loans_subset = loans.drop(columnasVacias, axis=1)

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [6]:
column_types = loans_subset.dtypes
column_types

Unnamed: 0                 int64
id                         int64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 120, dtype: object

In [7]:
loans_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 120 entries, Unnamed: 0 to settlement_term
dtypes: float64(84), int64(2), object(34)
memory usage: 91.6+ MB

Comentario #3
No sabía que existía esta función, pero esta buena para poder ver bien los tipos de dato por columna.

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [8]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [9]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [10]:
datos_dict.to_pickle('datos_dict.csv')

In [11]:
datos_dict = pd.read_pickle('datos_dict.csv')

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [12]:
objectType = column_types[column_types == 'object']

In [13]:
loans_subset[objectType.index]

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
0,60 months,C,C1,MANAGEMENT,10+ years,RENT,Source Verified,Dec-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,235xx,VA,Aug-1994,w,Jun-2016,NaN,Nov-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
1,36 months,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,Not Verified,Dec-2014,Charged Off,n,NaN,credit_card,Credit card refinancing,937xx,CA,Sep-1989,w,Aug-2016,NaN,Feb-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
2,60 months,D,D1,Programming Analysis Supervisor,6 years,RENT,Source Verified,Dec-2014,Fully Paid,n,NaN,credit_card,Credit card refinancing,658xx,MO,Aug-2003,w,May-2016,NaN,Dec-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
3,60 months,D,D4,Senior Sales Professional,10+ years,MORTGAGE,Verified,Dec-2014,Current,n,NaN,car,Car financing,953xx,CA,Oct-2000,w,Dec-2017,Jan-2018,Dec-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
4,36 months,C,C3,Technical Specialist,< 1 year,RENT,Source Verified,Dec-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,850xx,AZ,Aug-2002,f,Aug-2015,NaN,Oct-2016,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,36 months,B,B1,Software Engineer,2 years,MORTGAGE,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,606xx,IL,Aug-1990,w,Aug-2017,NaN,Dec-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
99996,36 months,C,C1,Assistant Professor of English,3 years,RENT,Not Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,874xx,NM,May-2001,f,Mar-2016,NaN,Dec-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
99997,60 months,E,E4,Facilities Tech 3,10+ years,RENT,Verified,Aug-2014,Current,n,NaN,debt_consolidation,Debt consolidation,926xx,CA,Jun-1998,w,Dec-2017,Jan-2018,Dec-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
99998,36 months,F,F4,Records Examiner Analyst,10+ years,RENT,Verified,Aug-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,630xx,MO,Nov-2000,f,Apr-2015,NaN,Dec-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
99999,36 months,B,B2,Occupational Theapy Assistant,3 years,OWN,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,468xx,IN,Jul-1999,w,Mar-2017,NaN,Dec-2017,Individual,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN

In [14]:
loans_subset['term'] = loans_subset['term'].map(lambda x: int(x.rstrip(' months')))
loans_subset['term']

0        60
1        36
2        60
3        60
4        36
         ..
99995    36
99996    36
99997    60
99998    36
99999    36
Name: term, Length: 100000, dtype: int64

In [15]:
mask = ['grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'initial_list_status', 'application_type', 'hardship_flag', 'debt_settlement_flag' , 'disbursement_method']

In [16]:
loans_subset[mask] = loans_subset[mask].astype('string')
loans_subset[mask]

,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,initial_list_status,application_type,hardship_flag,debt_settlement_flag,disbursement_method
0,C,C1,MANAGEMENT,10+ years,RENT,Source Verified,Fully Paid,n,debt_consolidation,Debt consolidation,235xx,VA,w,Individual,N,N,Cash
1,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,Not Verified,Charged Off,n,credit_card,Credit card refinancing,937xx,CA,w,Individual,N,N,Cash
2,D,D1,Programming Analysis Supervisor,6 years,RENT,Source Verified,Fully Paid,n,credit_card,Credit card refinancing,658xx,MO,w,Individual,N,N,Cash
3,D,D4,Senior Sales Professional,10+ years,MORTGAGE,Verified,Current,n,car,Car financing,953xx,CA,w,Individual,N,N,Cash
4,C,C3,Technical Specialist,< 1 year,RENT,Source Verified,Charged Off,n,debt_consolidation,Debt consolidation,850xx,AZ,f,Individual,N,N,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,B,B1,Software Engineer,2 years,MORTGAGE,Source Verified,Fully Paid,n,debt_consolidation,Debt consolidation,606xx,IL,w,Individual,N,N,Cash
99996,C,C1,Assistant Professor of English,3 years,RENT,Not Verified,Fully Paid,n,debt_consolidation,Debt consolidation,874xx,NM,f,Individual,N,N,Cash
99997,E,E4,Facilities Tech 3,10+ years,RENT,Verified,Current,n,debt_consolidation,Debt consolidation,926xx,CA,w,Individual,N,N,Cash
99998,F,F4,Records Examiner Analyst,10+ years,RENT,Verified,Charged Off,n,debt_consolidation,Debt consolidation,630xx,MO,f,Individual,N,N,Cash
99999,B,B2,Occupational Theapy Assistant,3 years,OWN,Source Verified,Fully Paid,n,debt_consolidation,Debt consolidation,468xx,IN,w,Individual,N,N,Cash

In [17]:
column_types = loans_subset.dtypes
column_types

Unnamed: 0                 int64
id                         int64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 120, dtype: object

In [18]:
objectType = column_types[column_types == 'object']
loans_subset[objectType.index]

,issue_d,desc,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag_date,settlement_status,settlement_date
0,Dec-2014,NaN,Aug-1994,Jun-2016,NaN,Nov-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dec-2014,NaN,Sep-1989,Aug-2016,NaN,Feb-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dec-2014,NaN,Aug-2003,May-2016,NaN,Dec-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dec-2014,NaN,Oct-2000,Dec-2017,Jan-2018,Dec-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dec-2014,NaN,Aug-2002,Aug-2015,NaN,Oct-2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Aug-2014,NaN,Aug-1990,Aug-2017,NaN,Dec-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,Aug-2014,NaN,May-2001,Mar-2016,NaN,Dec-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,Aug-2014,NaN,Jun-1998,Dec-2017,Jan-2018,Dec-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,Aug-2014,NaN,Nov-2000,Apr-2015,NaN,Dec-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,Aug-2014,NaN,Jul-1999,Mar-2017,NaN,Dec-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
mask2 = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d','last_credit_pull_d']

In [20]:
loans_subset[mask2] = loans_subset[mask2].apply(pd.to_datetime)
loans_subset[mask2]

         issue_d earliest_cr_line last_pymnt_d next_pymnt_d last_credit_pull_d
0     2014-12-01       1994-08-01   2016-06-01          NaT         2017-11-01
1     2014-12-01       1989-09-01   2016-08-01          NaT         2017-02-01
2     2014-12-01       2003-08-01   2016-05-01          NaT         2017-12-01
3     2014-12-01       2000-10-01   2017-12-01   2018-01-01         2017-12-01
4     2014-12-01       2002-08-01   2015-08-01          NaT         2016-10-01
...          ...              ...          ...          ...                ...
99995 2014-08-01       1990-08-01   2017-08-01          NaT         2017-12-01
99996 2014-08-01       2001-05-01   2016-03-01          NaT         2017-12-01
99997 2014-08-01       1998-06-01   2017-12-01   2018-01-01         2017-12-01
99998 2014-08-01       2000-11-01   2015-04-01          NaT         2017-12-01
99999 2014-08-01       1999-07-01   2017-03-01          NaT         2017-12-01

[100000 rows x 5 columns]

Comentario #4
Después de ver cómo seleccionas las columnas para castear los tipos, me parece bien que te enfoques en las columnas con tipo "object".
Sin embargo, puede ser que te hayas echado más trabajo del necesario. Recominedo que cheques la función convert_dtypes() en https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.convert_dtypes.html.

In [21]:
column_types = loans_subset.dtypes
column_types

Unnamed: 0                 int64
id                         int64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 120, dtype: object

In [22]:
objectType = column_types[column_types == 'object']
loans_subset[objectType.index]

,desc,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag_date,settlement_status,settlement_date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
loans_subset.drop(loans_subset[objectType.index], axis=1, inplace=True)

In [24]:
loans_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 109 entries, Unnamed: 0 to settlement_term
dtypes: datetime64[ns](5), float64(84), int64(3), string(17)
memory usage: 83.2 MB

Comentario #5
Hubiera sido bueno que antes de darle drop contaras los elementos NaN por columna para tener un poquito de información del dataframe.
Otra cosa, que es más de preferencias personales, es que hubiera considerado otro tipo de casteo para las columnas con fechas. Más que nada para evitar problemas de información en columnas como "settlement_date".
En general, el casteo parece conveniente para la imputación de NaNs!

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [25]:
columnas_With_Nans = loans_subset.isna().sum()
columnas_With_Nans

Unnamed: 0                   0
id                           0
loan_amnt                    0
funded_amnt                  0
funded_amnt_inv              0
                         ...
disbursement_method          0
debt_settlement_flag         0
settlement_amount        98710
settlement_percentage    98710
settlement_term          98710
Length: 109, dtype: int64

In [26]:
columnas_With_Nans[columnas_With_Nans >0]

emp_title                                      5264
emp_length                                     5259
mths_since_last_delinq                        48703
mths_since_last_record                        83268
revol_util                                       56
last_pymnt_d                                     67
next_pymnt_d                                  86138
last_credit_pull_d                               17
mths_since_last_major_derog                   72059
bc_open_to_buy                                 1135
bc_util                                        1198
mo_sin_old_il_acct                             3007
mths_since_recent_bc                           1049
mths_since_recent_bc_dlq                      73545
mths_since_recent_inq                          9818
mths_since_recent_revol_delinq                63814
num_tl_120dpd_2m                               1956
percent_bc_gt_75                               1161
deferral_term                                 99815
hardship_amount                               99815
hardship_length                               99815
hardship_dpd                                  99815
orig_projected_additional_accrued_interest    99848
hardship_payoff_balance_amount                99815
hardship_last_payment_amount                  99815
settlement_amount                             98710
settlement_percentage                         98710
settlement_term                               98710
dtype: int64

In [27]:
loans_subset = loans_subset.drop(['hardship_amount','hardship_length','hardship_dpd', 'deferral_term','orig_projected_additional_accrued_interest','hardship_payoff_balance_amount', 'hardship_last_payment_amount','settlement_amount', 'settlement_percentage','settlement_term'], axis = 1)

In [91]:
loans_subset['emp_title'] = loans_subset['emp_title'].fillna("Unknown")

In [33]:
loans_subset['emp_length'].fillna("Unknown years",inplace=True)

In [38]:
loans_subset['mths_since_last_delinq'] = loans_subset['mths_since_last_delinq'].fillna(" Not applicable")
loans_subset['mths_since_last_record'] = loans_subset['mths_since_last_record'].fillna(" Not applicable")

In [76]:
loans_subset['revol_util'].fillna(loans_subset['revol_util'].mean(), inplace=True)
loans_subset['mo_sin_old_il_acct'].fillna(loans_subset['mo_sin_old_il_acct'].mean(), inplace=True)
loans_subset['mths_since_recent_bc'].fillna(loans_subset['mths_since_recent_bc'].mean(), inplace=True)
loans_subset['mths_since_recent_bc_dlq'].fillna(loans_subset['mths_since_recent_bc_dlq'].mean(), inplace=True)
loans_subset['mths_since_recent_inq'].fillna(loans_subset['mths_since_recent_inq'].mean(), inplace=True)
loans_subset['mths_since_recent_revol_delinq'].fillna(loans_subset['mths_since_recent_revol_delinq'].mean(), inplace=True)
loans_subset['mths_since_last_major_derog'].fillna(loans_subset['mths_since_last_major_derog'].mean(), inplace=True)
loans_subset['bc_util'].fillna(loans_subset['bc_util'].mean(), inplace=True)
loans_subset['percent_bc_gt_75'].fillna(loans_subset['percent_bc_gt_75'].mean(), inplace=True)

In [85]:
loans_subset['bc_open_to_buy'].fillna(loans_subset['bc_open_to_buy'].mode()[0], inplace=True)
loans_subset['num_tl_120dpd_2m'].fillna(loans_subset['num_tl_120dpd_2m'].mode()[0], inplace=True)
loans_subset['last_pymnt_d'].fillna(loans_subset['last_pymnt_d'].mode()[0], inplace=True)
loans_subset['next_pymnt_d'].fillna(loans_subset['next_pymnt_d'].mode()[0], inplace=True)
loans_subset['last_credit_pull_d'].fillna(loans_subset['last_credit_pull_d'].mode()[0], inplace=True)

Comentario #6
Hiciste un excelente trabajo seleccionando los valores para imputar NaNs! 
Pero creo que te echaste mucho trabajo manual, te recomendaría tratar de automatizar un poco la imputación haciendo ciclos.

In [86]:
columnas_With_Nans = loans_subset.isna().sum()
columnas_With_Nans[columnas_With_Nans >0]

Series([], dtype: int64)

In [89]:
loans_subset.drop('Unnamed: 0', axis =1, inplace= True)

In [94]:
columnas_imputadas = ['emp_title','emp_length','mths_since_last_delinq', 
                    'mths_since_last_record','revol_util','mo_sin_old_il_acct', 
                    'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
                    'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 
                    'mths_since_last_major_derog','bc_util', 'percent_bc_gt_75',
                    'bc_open_to_buy','num_tl_120dpd_2m', 'last_pymnt_d',
                    'next_pymnt_d', 'last_credit_pull_d']

In [101]:
columnasNoImputadas = loans_subset[loans_subset.columns.difference(columnas_imputadas)].columns
columnasNoImputadas

Index(['acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'annual_inc',
       'application_type', 'avg_cur_bal', 'chargeoff_within_12_mths',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'debt_settlement_flag', 'delinq_2yrs', 'delinq_amnt',
       'disbursement_method', 'dti', 'earliest_cr_line', 'fico_range_high',
       'fico_range_low', 'funded_amnt', 'funded_amnt_inv', 'grade',
       'hardship_flag', 'home_ownership', 'id', 'initial_list_status',
       'inq_last_6mths', 'installment', 'int_rate', 'issue_d',
       'last_fico_range_high', 'last_fico_range_low', 'last_pymnt_amnt',
       'loan_amnt', 'loan_status', 'mo_sin_old_rev_tl_op',
       'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_30dpd',
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc', 'out_prncp',
       'out_prncp_inv', 'pct_tl_nvr_dlq', 'policy_code', 'pub_rec',
       'pub_rec_bankruptcies', 'purpose', 'pymnt_plan', 'recoveries',
       'revol_bal', 'sub_grade', 'tax_liens', 'term', 'title', 'tot_coll_amt',
       'tot_cur_bal', 'tot_hi_cred_lim', 'total_acc', 'total_bal_ex_mort',
       'total_bc_limit', 'total_il_high_credit_limit', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee',
       'total_rec_prncp', 'total_rev_hi_lim', 'verification_status',
       'zip_code'],
      dtype='object')

In [90]:
loans_subset

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,38098114,15000.0,15000.0,15000.0,60,12.39,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,2014-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,235xx,VA,12.03,0.0,1994-08-01,750.0,754.0,0.0,Not applicable,Not applicable,6.0,0.0,138008.0,29.0,17.0,w,0.00,0.00,17392.370000,17392.37,15000.00,2392.37,0.0,0.00,0.0000,2016-06-01,12017.81,2018-01-01,2017-11-01,684.0,680.0,0.0,43.451237,1.0,Individual,0.0,0.0,149140.0,184500.0,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,39.633869,6.766772,35.615431,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0,N,Cash,N
1,36805548,10400.0,10400.0,10400.0,36,6.99,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,2014-12-01,Charged Off,n,credit_card,Credit card refinancing,937xx,CA,14.92,0.0,1989-09-01,710.0,714.0,2.0,42.0,Not applicable,17.0,0.0,6133.0,31.6,36.0,w,0.00,0.00,6611.690000,6611.69,5217.75,872.67,0.0,521.27,93.8286,2016-08-01,321.08,2018-01-01,2017-02-01,564.0,560.0,0.0,59.000000,1.0,Individual,0.0,0.0,162110.0,19400.0,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,42.000000,1.000000,42.000000,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0,N,Cash,N
2,37842129,21425.0,21425.0,21425.0,60,15.59,516.36,D,D1,Programming Analysis Supervisor,6 years,RENT,63800.0,Source Verified,2014-12-01,Fully Paid,n,credit_card,Credit card refinancing,658xx,MO,18.49,0.0,2003-08-01,685.0,689.0,0.0,60.0,Not applicable,10.0,0.0,16374.0,76.2,35.0,w,0.00,0.00,25512.200000,25512.20,21425.00,4087.20,0.0,0.00,0.0000,2016-05-01,17813.19,2018-01-01,2017-12-01,704.0,700.0,0.0,74.000000,1.0,Individual,0.0,0.0,42315.0,21500.0,4.0,4232.0,324.0,97.8,0.0,0.0,135.0,136.0,7.0,7.0,0.0,7.0,60.000000,7.000000,60.000000,1.0,3.0,4.0,3.0,12.0,16.0,5.0,18.0,4.0,10.0,0.0,0.0,0.0,2.0,91.4,100.0,0.0,0.0,57073.0,42315.0,15000.0,35573.0,N,Cash,N
3,37612354,12800.0,12800.0,12800.0,60,17.14,319.08,D,D4,Senior Sales Professional,10+ years,MORTGAGE,125000.0,Verified,2014-12-01,Current,n,car,Car financing,953xx,CA,8.31,1.0,2000-10-01,665.0,669.0,0.0,17.0,Not applicable,8.0,0.0,5753.0,100.9,13.0,w,6673.54,6673.54,11207.670000,11207.67,6126.46,5081.21,0.0,0.00,0.0000,2017-12-01,319.08,2018-01-01,2017-12-01,629.0,625.0,0.0,36.000000,1.0,Individual,0.0,0.0,261815.0,5700.0,2.0,32727.0,0.0,103.2,0.0,0.0,16.0,170.0,21.0,16.0,5.0,21.0,17.000000,1.000000,17.000000,1.0,3.0,5.0,3.0,5.0,1.0,5.0,7.0,5.0,8.0,0.0,0.0,0.0,0.0,76.9,100.0,0.0,0.0,368700.0,18007.0,4400.0,18000.0,N,Cash,N
4,37662224,7650.0,7650.0,7650.0,36,13.66,260.20,C,C3,Technical Specialist,< 1 year,RENT,50000.0,Source Verified,2014-12-01,Charged Off,n,debt_consolidation,Debt consolidation,850xx,AZ,34.81,0.0,2002-08-01,685.0,689.0,1.0,Not applicable,Not applicable,11.0,0.0,16822.0,91.9,20.0,f,0.00,0.00,2281.980000,2281.98,704.38,339.61,0.0,1237.99,222.8382,2015-08-01,17.70,2018-01-01,2016-10-01,559.0,555.0,0.0,43.451237,1.0,Individual,0.0,0.0,64426.0,18300.0,6.0,5857.0,332.0,93.2,0.0,0.0,137.0,148.0,8.0,8.0,0.0,17.0,39.633869,3.000000,35.615431,0.0,1.0,4.0,1.0,4.0,12.0,4.0,8.0,4.0,11.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,82331.0,64426.0,4900.0,64031.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400.0,8400.0,8400.0,36,9.17,267.79,B,B1,Software Engineer,2 years,MORTGAGE,91000.0,Source Verified,2014-08-01,Fully Paid,n,debt_consolidation,Debt consolidation,606xx,IL,7.78,1.0,1990-08-01,705.0,709.0,1.0,19.0,54.0,6.0,1.0,8495.0,55.5,16.0,w,0.00,0.00,9640.145407,9640.15,8400.00,1240.15,0.0,0.00,0.0000,2017-08-01,267.50,2018-01-01,2017-12-01,714.0,710.0,0.0,43.451237,1.0,Individual,0.0,0.0,152181.0,15300.0,2.0,25364.0,2505.0,77.2,0.0,0.0,285.0,287.0,5.0,5.0,1.0,5.0,19.000000,5.000000,19.000000,0.0,2.0,2.0,2.0,6.0,7.0,3.0,7.0,2.0,6.0,0.0,0.0,0.0,2.0,93.7,50.0,0.0,0.0,209557.0,20872.0,11000.0,15473.0,N,Cash,N
99996,11396920,10000.0,10000.0,10000.0,36,12.99,336.90,C,C1,Assistant Professor of English,3 years,RENT,53133.0,Not Verified,2014-08-01,Fully Paid,n,debt_consolidation,Debt consolidation,874xx,NM,15.25,0.0,2001-05-01,690.0,694.0,0.0,Not applicable,Not applicable,11.0,0.0,10326.0,42.5,17.0,f,0.00,0.00,11685.080000,11685.08,10000.00,1685.08,0.0,0.00,0.0000,2016-03-01,5594.78,2018-01-01,2017-12-01,684.0,680.0,0.0,43.451237,1.0,Individual,0.0,98.0,46413.0,24300.0,3.0,4219.0,13974.0,42.5,0.0,0.0,77.0,158.0,5.0,5.0,0.0,5.0,39.633869,24.000000,35.615431,0.0,5.0,5.0,9.0,11.0,4.0,9.0,13.0,5.0,11.0,0.0,0.0,0.0,1.0,100.0,11.1,0.0,0.0,64149.0,46413.0,24300.0,39849.0,N,Cash,N
99997,8556176,30000.0,30000.0,30000.0,60,20.99,811.44,E,E4,Facilities Tech 3,10+ years,RENT,78000.0,Verified,2014-08-01,Current,n,debt_consolidation,Debt consolidation,926xx,CA,23.75,0.0,1998-06-01,665.0,669.0,1.0,29.0,Not applicable,18.0,0.0,27409.0,79.0,30.0,w,13599.63,13599.63,32530.430000,32530.43,16400.37,16130.06,0.0,0.00,0.0000,2017-12-01,811.44,2018-01-01,2017-12-01,624.0,620.0,0.0,43.451237,1.0,Individual,0.0,0.0,345934.0,34700.0,5.0,20349.0,2354.0,89.4,0.0,0.0,155.0,193.0,1.0,1.0,2.0,12.0,29.000000,1.000000,29.000000,0.0,7.0,12.0,7.0,9.0,5.0,15.0,22.0,12.0,18.0,0.0,0.0,0.0,4.0,93.3,100.0,0.0,0.0,371088.0,45447.0,22300.0,25212.0,N,Cash,N
99998,24023408,8475.0,8475.0,8475.0,36,24.99,336.92,F,F4,Records Examiner Analyst,10+ years,RENT,52000.0,Verified,2014-08-01,Charged Off,n,debt_consolidation,Debt consolidation,630xx,MO,17.61,2.0,2000-11-01,660.0,664.0,1.0,13.0,83.0,11.0,1.0,2962.0,35.7,29.0,f,0.00,0.00,2695.360000,2695.36,1380.97,1314.39,0.0,0.00,0.0000,2015-04-01,336.92,2018-01-01,2017-12-01,609.0,605.0,0.0,17.000000,1.0,Individual,0.0,2066.0,31247.0,8300.0,8.0,3125.0,324.0,88.0,0.0,0.0,141.0,164.0,7.0,1.0,0.0,7.0,17.000000,4.000000,17.000000,2.0,1.0,3.0,1.0,4.0,11.0,8.0,18.0,3.0,11.0,0.0,0.0,1.0,6.0,86.4,100.0,1.0,0.0,43686.0,31247.0,2700.0,35386.0,N,Cash,N
99999,24023398,25000.0,25000.0,25000.0,36,10.15,808.45,B,B2,Occupational Theapy Assistant,3 years,OWN,60000.0,Source Verified,2014-08-01,Fully Paid,n,debt_consolidation,Debt consolidation,468xx,IN,27.82,0.0,1999-07-01,730.0,734.0,0.0,Not applicable,Not applicable,23.0,0.0,23719.0,40.3,35.0,w,0.00,0.00,29024.061162,29024.06,25000.00,4024.06,0.0,0.00,0.0000,2017-03-01,4759.78,2018-01-01,2017-12-01,754.0,750.0,0.0,43.451237,1.0,Individual,0.0,0.0,233053.0,58900.0,5.0,10133.0,17153.0,57.4,0.0,0.0,104.0,180.0,1.0,1.0,2.0,8.0,39.633869,13.000000,35.615431,0.0,5.0,7.0,5.0,9.0,13.0,10.0,19.0,7.0,23.0,0.0,0.0,0.0,3.0,100.0,40.0,0.0,0.0,290888.0,71301.0,40300.0,64888.0,N,Cash,N

### Codigo para salvar y cargar JSONs

In [125]:
res = str(('acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'annual_inc',
       'application_type', 'avg_cur_bal', 'chargeoff_within_12_mths',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'debt_settlement_flag', 'delinq_2yrs', 'delinq_amnt',
       'disbursement_method', 'dti', 'earliest_cr_line', 'fico_range_high',
       'fico_range_low', 'funded_amnt', 'funded_amnt_inv', 'grade',
       'hardship_flag', 'home_ownership', 'id', 'initial_list_status',
       'inq_last_6mths', 'installment', 'int_rate', 'issue_d',
       'last_fico_range_high', 'last_fico_range_low', 'last_pymnt_amnt',
       'loan_amnt', 'loan_status', 'mo_sin_old_rev_tl_op',
       'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_30dpd',
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc', 'out_prncp',
       'out_prncp_inv', 'pct_tl_nvr_dlq', 'policy_code', 'pub_rec',
       'pub_rec_bankruptcies', 'purpose', 'pymnt_plan', 'recoveries',
       'revol_bal', 'sub_grade', 'tax_liens', 'term', 'title', 'tot_coll_amt',
       'tot_cur_bal', 'tot_hi_cred_lim', 'total_acc', 'total_bal_ex_mort',
       'total_bc_limit', 'total_il_high_credit_limit', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee',
       'total_rec_prncp', 'total_rev_hi_lim', 'verification_status',
       'zip_code'))
res

"('acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'annual_inc', 'application_type', 'avg_cur_bal', 'chargeoff_within_12_mths', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'debt_settlement_flag', 'delinq_2yrs', 'delinq_amnt', 'disbursement_method', 'dti', 'earliest_cr_line', 'fico_range_high', 'fico_range_low', 'funded_amnt', 'funded_amnt_inv', 'grade', 'hardship_flag', 'home_ownership', 'id', 'initial_list_status', 'inq_last_6mths', 'installment', 'int_rate', 'issue_d', 'last_fico_range_high', 'last_fico_range_low', 'last_pymnt_amnt', 'loan_amnt', 'loan_status', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc', 'out_prncp', 'out_prncp_inv', 'pct_tl_nvr_dlq', 'policy_code', 'pub_rec', 'pub_rec_bankruptcies', 'purpose', 'pymnt_plan', 'recoveries', 'revol_bal', 'sub_grade', 'tax_liens', 'term', 'title', 'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim', 'total_acc', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'total_rev_hi_lim', 'verification_status', 'zip_code')"

In [126]:

imputacion = {"('acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'annual_inc', 'application_type', 'avg_cur_bal', 'chargeoff_within_12_mths', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'debt_settlement_flag', 'delinq_2yrs', 'delinq_amnt', 'disbursement_method', 'dti', 'earliest_cr_line', 'fico_range_high', 'fico_range_low', 'funded_amnt', 'funded_amnt_inv', 'grade', 'hardship_flag', 'home_ownership', 'id', 'initial_list_status', 'inq_last_6mths', 'installment', 'int_rate', 'issue_d', 'last_fico_range_high', 'last_fico_range_low', 'last_pymnt_amnt', 'loan_amnt', 'loan_status', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc', 'out_prncp', 'out_prncp_inv', 'pct_tl_nvr_dlq', 'policy_code', 'pub_rec', 'pub_rec_bankruptcies', 'purpose', 'pymnt_plan', 'recoveries', 'revol_bal', 'sub_grade', 'tax_liens', 'term', 'title', 'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim', 'total_acc', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'total_rev_hi_lim', 'verification_status', 'zip_code')": 
       {'Estrategia': 'Sin Imputar'}, 
       'emp_title': {'Estrategia' : 'Identificador', 'Valor': 'Unknown'},
       'emp_length': {'Estrategia' : 'Identificador', 'Valor': 'Unknown Years'},
       'mths_since_last_delinq': {'Estrategia' : 'Identificador', 'Valor': 'No applicable'},
       'mths_since_last_record': {'Estrategia' : 'Identificador', 'Valor': 'No applicable'},
       'revol_util' :{'Estrategia' : 'Media', 'Valor': 55.43},
       'mo_sin_old_il_acct':{'Estrategia' : 'Media', 'Valor': 127.73},
       'mths_since_recent_bc':{'Estrategia' : 'Media', 'Valor': 24.43},
       'mths_since_recent_bc_dlq':{'Estrategia' : 'Media', 'Valor': 39.63},
       'mths_since_recent_inq':{'Estrategia' : 'Media', 'Valor': 6.76},
       'mths_since_recent_revol_delinq':{'Estrategia' : 'Media', 'Valor': 35.61},
       'mths_since_last_major_derog':{'Estrategia' : 'Media', 'Valor': 43.45},
       'bc_util':{'Estrategia' : 'Media', 'Valor': 64.56},
       'percent_bc_gt_75':{'Estrategia' : 'Media', 'Valor': 50.69},
       'bc_open_to_buy':{'Estrategia':'Moda', 'Valor': 0.0 },
       'num_tl_120dpd_2m':{'Estrategia':'Moda', 'Valor': 0.0 },
       'last_pymnt_d':{'Estrategia':'Moda', 'Valor': '2017-12-01' },
       'next_pymnt_d':{'Estrategia':'Moda', 'Valor': '2018-01-01' },
       'last_credit_pull_d':{'Estrategia':'Moda', 'Valor': '2017-12-01' }
       }

In [127]:
import json
with open('imputacion.json', 'w') as f:
    json.dump(imputacion, f)

In [128]:
columnas_imputacion = pd.read_json('imputacion.json')

Comentario #7
Súper bien la parte de la creación de json, creo que si cumple con la condición de replicabilidad y reproducibilidad.

Comentario general

Buen manejo de NaNs, revisión de columnas con valores vacíos y creación de archivos json.
Recomendaría la automatización de algunos procesos para facilitar el trabajo. Si tuviéramos alguna bd con más columnas se complicaría mucho hacerlo todo manual!